<div class="p-about">
    <div class="p-about__inner l-inner">
        <dl class="p-about__info">
            <dt>商号</dt>
            <dd>大原パラヂウム化学株式会社</dd>
            <dt>創業年月日</dt>
            <dd>1926年8月</dd>
            <dt>設立年月日</dt>
            <dd>1965年4月1日（会社組織に改組）</dd>
            <dt>所在地</dt>
            <dd>
                【本社】<br>
                〒602-8155　京都市上京区竹屋町通千本東入上ル主税町1092<br>
                TEL（075）841-8521　FAX（075）811-5715<br>
                E-mail:office@paragium.co.jp<br><br>
                【吉祥院工場・化学研究所】 <br>
                〒601-8341　京都市南区吉祥院前田町32<br>
                TEL（075）681-1707　FAX（075）672-5150<br>
                E-mail:kisshoin@paragium.co.jp<br><br>
                【上鳥羽工場】<br>
                〒601-8178　京都市南区上鳥羽南戒光町56<br>
                TEL（075）691-0700　FAX（075）691-8950
            </dd>
            <dt>資本金</dt>
            <dd>3,600万円</dd>
            <dt>代表者</dt>
            <dd>代表取締役社長　　大原　一浩</dd>
            <dt>取引銀行</dt>
            <dd>
                三井住友銀行　京都支店<br>
                三菱UFJ銀行　京都中央支店<br>
                京都銀行　本店
            </dd>
            <dt>関連会社</dt>
            <dd>青島大原化学有限公司（中国）</dd>
        </dl>
    </div>
</div>