<div class="p-applyBlock">
    <dl class="p-applyBlock__info">
        <dt>募集職種</dt>
        <dd>事務職（本社）</dd>
        <dt>勤務時間</dt>
        <dd>8：30～17:15</dd>
        <dt>勤務地</dt>
        <dd>本社（京都市上京区主税町1092）</dd>
        <dt>給与</dt>
        <dd>応相談</dd>
        <dt>休日</dt>
        <dd>完全週休2日制(土・日)、祝日、夏季休暇・年末年始休暇</dd>
        <dt>休暇</dt>
        <dd>有給休暇、産前産後休暇、介護休暇、裁判員制度休暇、ほか</dd>
        <dt>保険</dt>
        <dd>健康保険、厚生年金保険、雇用保険、労災保険</dd>
        <dt>諸手当</dt>
        <dd>家族手当、住宅手当、通勤手当、精勤手当、役職手当、特殊手当（技能による）</dd>
        <dt>試用期間</dt>
        <dd>3ヵ月</dd>
    </dl>
    <div class="p-applyblock__btn">
        <%- include('../component/_c-btn',{
            link:'#',
            text:'応募フォーム'
        }) %>
    </div>
</div>