<div class="p-bottomContact">
    <a href="#">
        <div class="p-bottomContact__inner l-inner">
            <div class="p-bottomContact__title">
                <%- include('../component/_c-title',{
                    title:'お問い合わせ',
                    subtitle:'CONTACT',
                    subColor:'white',
                    mainColor:'white',
                    modifier2:'--center --big',
                    modifier:'--border-none'
                }) %>
            </div>
            <p class="p-bottomContact__text c-text">
                ご相談・ご質問は<br>
                お問い合わせフォームからお気軽にお問い合わせください
            </p>
            <div class="p-bottomContact__link">
                <%- include('../component/_c-link',{
                    size:'big'
                }) %>
            </div>
        </div>
    </a>
</div>