<div class="p-bcave">
    <div class="p-bcave__inner l-inner">
        <div class="p-bcave__title">
            <%- include('../component/_c-singleTitle',{
                title:' b.cave',
                subtitle:' b.cave'
            }) %>
        </div>
        <p class="p-bcave__text c-text">
            PCP/MOFを使用した応用製品シリーズがb.caveです。<br>
            PCP/MOF は、高い吸着性や触媒性を持つ新しいナノポーラス材料ですが、<br>
            そのままでは超微細な粉末状であり、実用化には困難が伴います。<br>
            そこで当社では、PCP/MOF の性能を損なわずにペレット状・シート状・塗料等の様々な形態に加工できる技術を確立しました。<br>
            これによりPCP/MOF 製品の応用範囲が広がり、より多くの分野での活用が期待できます。<br>
            驚異的な瞬間吸着能力を持つb.caveは、臭気・有害ガス等の様々な課題を解決する製品として社会に貢献していきます。 
        </p>
        <div class="p-bcave__btn">
            <%- include('../component/_c-documentBtn') %>
        </div>
        <h3 class="p-bcave__subtitle">
            <%- include('../component/_c-subTitle',{
                title:'b.cave materials'
            }) %>
        </h3>
        <div class="p-bcave__items">
            <div class="p-bcave__item">
                <div class="p-bcave__left">
                    <p class="p-bcave__lead">表面点接着造粒品</p>
                    <p class="p-bcave__itemTitle">ZRシリーズ</p>
                    <picture class="p-bcave__img">
                        <source srcset="./images/service/zr.webp" type="image/webp" />
                        <img src="./images/service/zr.jpg" alt="ZRシリーズ">
                    </picture>
                </div>
                <div class="p-bcave__right">
                    <ul class="p-bcave__lists">
                        <li class="p-bcave__list">粒子状の為、比表面積が大きく処理効率が高いです。</li>
                        <li class="p-bcave__list">担持させる物質の大きさを調整可能です。（例：活性炭4㎜など）</li>
                        <li class="p-bcave__list">用途に応じて最適な粒径を選択できる為、様々な分野での活用が期待できます。</li>
                    </ul>
                    <dl class="p-bcave__info">
                        <dt>＜応用例＞ </dt>
                        <dd>車のキャビンフィルター、脱臭機、脱臭プラントなど（いずれも挟着フイルター用の充填剤として）</dd>
                        <dt>＜性状＞ </dt>
                        <dd>硬度：90％以上　粒度：30～60メッシュ　嵩密度：0.35～0.55g/L </dd>
                    </dl>
                </div>
            </div>
            <div class="p-bcave__item">
                <div class="p-bcave__left">
                    <p class="p-bcave__lead">押出成形品</p>
                    <p class="p-bcave__itemTitle">OSシリーズ</p>
                    <picture class="p-bcave__img">
                        <source srcset="./images/service/os.webp" type="image/webp" />
                        <img src="./images/service/os.jpg" alt="OSシリーズ">
                    </picture>
                </div>
                <div class="p-bcave__right">
                    <ul class="p-bcave__lists">
                        <li class="p-bcave__list">中空や多孔質構造にすることで、ガス吸着能力を高めることが可能です。 </li>
                        <li class="p-bcave__list">PCP/MOFの配合量をコントロールすることができ、これにより消臭性能を最適化することができます。</li>
                        <li class="p-bcave__list">耐久性のある消臭効果が期待できます。 </li>
                        <li class="p-bcave__list">他の消臭成分との配合も可能で、それにより様々なガスに対応できます。 </li>
                    </ul>
                    <dl class="p-bcave__info">
                        <dt>＜応用例＞ </dt>
                        <dd>ハニカムフィルターへの充填、脱臭機への充填、置き型消臭剤など（そのままの状態で使用） </dd>
                        <dt>＜性状＞ </dt>
                        <dd>硬度：90％以上　粒度5～10メッシュ　嵩密度：0.35～0.55g/L </dd>
                    </dl>
                </div>
            </div>
            <div class="p-bcave__item">
                <div class="p-bcave__left">
                    <p class="p-bcave__lead">打錠成形品</p>
                    <p class="p-bcave__itemTitle">DJシリーズ</p>
                    <picture class="p-bcave__img">
                        <source srcset="./images/service/zr.webp" type="image/webp" />
                        <img src="./images/service/dj.jpg" alt="DJシリーズ">
                    </picture>
                </div>
                <div class="p-bcave__right">
                    <ul class="p-bcave__lists">
                        <li class="p-bcave__list">高密度な製剤が可能で、それにより非常に高い耐久性を発現できます。</li>
                        <li class="p-bcave__list">PCP/MOF配合量の高い高性能品が容易に製造可能です。 </li>
                        <li class="p-bcave__list">PCP/MOF以外の成分も配合可能で、更なる機能も付与出来ます。 </li>
                    </ul>
                    <dl class="p-bcave__info">
                        <dt>＜応用例＞ </dt>
                        <dd>脱臭機への充填、置き型消臭剤、家電用途など </dd>
                        <dt>＜性状＞ </dt>
                        <dd>硬度：10N以上 </dd>
                    </dl>
                </div>
            </div>
            <div class="p-bcave__item">
                <div class="p-bcave__left">
                    <p class="p-bcave__lead">シート品</p>
                    <p class="p-bcave__itemTitle">Sシリーズ</p>
                    <picture class="p-bcave__img">
                        <source srcset="./images/service/s.webp" type="image/webp" />
                        <img src="./images/service/s.jpg" alt="Sシリーズ">
                    </picture>
                </div>
                <div class="p-bcave__right">
                    <ul class="p-bcave__lists">
                        <li class="p-bcave__list">不織布にPCP/MOFを含侵させた製品で、塗布量の調整も可能です。</li>
                        <li class="p-bcave__list">不織布の目付けや厚さ等、用途に応じて対応出来ます。また、基材の持ち込みも可能です。 </li>
                        <li class="p-bcave__list">PCP/MOF分散塗料（溶剤系）としても販売可能です。</li>
                    </ul>
                    <dl class="p-bcave__info">
                        <dt>＜応用例＞ </dt>
                        <dd>各種フィルタ、パーテーション、梱包資材など </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>