<div class="p-business">
    <div class="p-business__inner l-inner">
        <div class="p-business__title">
            <%- include('../component/_c-singleTitle',{
                title:'事業展開',
                subtitle:'Business development',
                modifier:'--left --sp-left',
                modifier2:'--left --sp-left',
            }) %>
        </div>
        <div class="p-business__target">
            <%- include('_p-target') %>
        </div>
        <div class="p-business__material">
            <%- include('_p-material') %>
        </div>
        <div class="p-business__totalsolution">
            <%- include('_p-totalsolution') %>
        </div>
    </div>
</div>