<div class="p-column-modal">
    <div class="p-column-modal__content">
        <button class="p-column-modal__close js-column-modal-close">
            <img src="./images/column/close.png" alt="閉じる">
        </button>
        <div class="p-column-modal__logo">
            <img src="./images/column/kaiteki.svg" alt="kaiteki">
        </div>
        <p class="p-column-modal__text">
            「世の中の不快を少しでも快適にしたい」と奮闘する企業の製品や<br class="u-mobile">
            取組のこと、そしてそこで働く社員のこと。​<br>
            そして、化学業界、アパレル業界、最新のサステナ情報など。​<br class="u-mobile">
            KAITEKIな生活を送るためのちょっとした「情報」をみなさんに。​
        </p>
    </div>
    <div class="p-column-modal__bg js-column-modal-close"></div>
</div>