<div class="p-form">
    <dl class="p-form__row">
        <dt>お問い合わせ種別<span>必須</span></dt>
        <dd>
            <ul class="p-form__radioLists">
                <li class="p-form__radioList">
                    <label>
                        <input type="radio" name="contact">
                        <span>製品について</span>
                    </label>
                </li>
                <li class="p-form__radioList">
                    <label>
                        <input type="radio" name="contact">
                        <span>会社について</span>
                    </label>
                </li>
                <li class="p-form__radioList">
                    <label>
                        <input type="radio" name="contact">
                        <span>その他</span>
                    </label>
                </li>
            </ul>
        </dd>
    </dl>
    <dl class="p-form__row">
        <dt>会社名 <span>必須</span></dt>
        <dd><input type="text" placeholder="例）株式会社ベイジ"></dd>
    </dl>
    <dl class="p-form__row">
        <dt>お名前 <span>必須</span></dt>
        <dd><input type="text" placeholder="例）株式会社ベイジ"></dd>
    </dl>
    <dl class="p-form__row">
        <dt>フリガナ <span>必須</span></dt>
        <dd><input type="text" placeholder="例）株式会社ベイジ"></dd>
    </dl>
    <dl class="p-form__row">
        <dt>電話番号 <span>必須</span></dt>
        <dd><input type="tel" placeholder="例）株式会社ベイジ"></dd>
    </dl>
    <dl class="p-form__row">
        <dt>メールアドレス <span>必須</span></dt>
        <dd><input type="email" placeholder="例）株式会社ベイジ"></dd>
    </dl>
    <dl class="p-form__row">
        <dt>お問い合わせ内容</dt>
        <dd>
            <p class="p-form__text c-text">
                補足説明がある場合はここに文章を入れますここに文章を入れますここに文章を入れますここに文章を入れます入力欄の下には入れないこと
            </p>
            <textarea name=""></textarea>
        </dd>
    </dl>
    <div class="p-form__check c-text">
        <a href="#" target="_lank"><span>個人情報保護方針</span><img src="./images/common/link.jpg" alt=""></a>に同意したものとします。
    </div>
    <div class="p-form__submit">
        <input type="submit" value="問い合わせる">
    </div>
</div>