<div class="p-flow">
    <h3 class="p-flow__title c-iconTitle --center">
        <img src="./images/recruit/icon_flow.svg" alt="アイコン">
        一日の流れ
    </h3>
    <ul class="p-flow__lists">
        <li class="p-flow__list">
            <picture class="p-flow__img">
                <img src="./images/recruit/our_01_1.jpg" alt="1日の流れ">
            </picture>
            <p class="p-flow__text c-text">
                当日の製造内容に応じて準備をし、製造に取り掛かります。
            </p>
        </li>
        <li class="p-flow__list">
            <picture class="p-flow__img">
                <img src="./images/recruit/our_01_2.jpg" alt="1日の流れ">
            </picture>
            <p class="p-flow__text c-text">
                丁寧に製造した製品を出荷します。運送便を使い分け、最適な方法で顧客へ届けます。
            </p>
        </li>
        <li class="p-flow__list">
            <picture class="p-flow__img">
                <img src="./images/recruit/our_01_3.jpg" alt="1日の流れ">
            </picture>
            <p class="p-flow__text c-text">
                翌日の製造内容を確認し合い、準備を行います。翌日の動きだしがスムーズになります。
            </p>
        </li>
        <li class="p-flow__list">
            <picture class="p-flow__img">
                <img src="./images/recruit/our_01_4.jpg" alt="1日の流れ">
            </picture>
            <p class="p-flow__text c-text">
                17：15の定時になれば、退勤です。自転車・バイク・電車など通勤手段は様々です。
            </p>
        </li>
    </ul>
</div>