<div class="p-greeting">
    <div class="p-greeting__inner l-inner">
        <div class="p-greeting__title">
            <%- include('../component/_c-title',{
                title:'ごあいさつ',
                subtitle:'MESSAGE',
                subColor:'green',
                mainColor:'black',
                modifier:'',
                modifier2:'--small',
            }) %>
        </div>
        <div class="p-greeting__wrap">
            <picture class="p-greeting__img">
                <source srcset="./images/study/greeting.webp" type="image/webp" />
                <img src="./images/study/greeting.jpg" alt="ごあいさつ">
            </picture>
            <div class="p-greeting__content">
                <div class="p-greeting__text c-text">
                    <p>
                        当社は「快適住空間の創造」をミッションに掲げており、技術開発部では人と地球の快適さを最優先に考え、環境に優しい製品の開発に努め、常に新しい価値を創造し、社会に貢献することを目指しています。   
                    </p>
                    <p>
                        ＝独自性＝<br>
                        研究において柔軟な視点と行動力を持つことで、様々な事業展開（繊維加工剤、瞬間接着剤、PCP/MOF、農薬関連等）に発展してきたと確信しています。常に研究の最前線に立ち、多様な分野や領域に挑戦し続けることで独自性のある物作りを目指しています。 
                    </p>
                    <p>
                        ＝サステナビリティ＝<br>
                        安心・安全な製品をお届けすることはもちろん、地球環境への持続可能性も考慮し、環境への負荷を最小限に抑えることも重視しています。そのためには、革新的なアイデアや技術を生み出し、新しい商品だけでなく、既存の商品も改良し続けることが必要です。 
                    </p>
                    <p>
                        ＝挑戦＝<br>
                        私たちは、社会の変化やニーズに敏感に対応するために、最先端の技術や素材を活用して、製品の機能性を高めることに努めています。これからも挑戦的な技術開発の姿勢を持ち続けることで、社会に貢献し、顧客の満足度を高めることができると信じています。 
                    </p>
                </div>
                <div class="p-greeting__name">
                    <span>技術開発部長 </span>脇 浩一
                </div>
            </div>
        </div>
       
    </div>
</div>