<div class="p-interview">
    <div class="p-interview__inner l-inner">
        <div class="p-interview__blocks">
            <div class="p-interview__block">
                <%- include('_p-interviewBlock') %>
            </div>
            <div class="p-interview__block">
                <%- include('_p-interviewBlock3') %>
            </div>
            <div class="p-interview__block">
                <%- include('_p-interviewBlock2') %>
            </div>
        </div>
    </div>
</div>