<div class="p-interviewBlock">
    <h2 class="p-interviewBlock__title">InTERVIEW #01</h2>
    <div class="p-interviewBlock__wrap">
        <picture class="p-interviewBlock__img">
            <source srcset="./images/recruit/interview_01.webp" type="image/webp" />
            <img src="./images/recruit/interview_01.jpg" alt="">
        </picture>
        <div class="p-interviewBlock__prof">
            <p class="p-interviewBlock__name">井谷 研（イタニ　ケン）</p>
            <div class="p-interviewBlock__info">
                <p><span>【入社年】</span>2008年入社16年目/転職</p>
                <p><span>【所属】</span>製造部</p>
                <p><span>【担当】</span>繊維加工剤の生産、在庫管理、発送</p>
            </div>
        </div>
    </div>
    <div class="p-interviewBlock__units">
        <div class="p-interviewBlock__unit">
            <p class="p-interviewBlock__q">
                <span>01</span>会社に入社した経緯を教えてください。
            </p>
            <p class="p-interviewBlock__a c-text">
                前職は通信関係の営業をしており、転職する時に、今まで全く知らなかった化学の会社に入り、少しでも知識を増やしたいと思い入社を決意しました。 その際に研修も兼ねて様々な部署を経験させてもらい、現在は製造現場での業務にあたっています。
            </p>
        </div>
        <div class="p-interviewBlock__unit">
            <p class="p-interviewBlock__q">
                <span>02</span>現在の業務内容について教えてください。
            </p>
            <p class="p-interviewBlock__a c-text">
                製造業務をしています。 製造業務というと、単調な作業と思われやすいですが、製造、出荷、製品の在庫管理や原料の発注、原料管理まで幅広くやらせてもらっています。研究職の方とコミュニケーションを取りながら製造していきます。トレンドや製品の発注変化にも対応しながら、原料の発注・在庫管理と自身でスケジュールを立てながら業務にあたっています。
            </p>
        </div>
        <div class="p-interviewBlock__unit">
            <p class="p-interviewBlock__q">
                <span>03</span>今の仕事でやりがいを感じるポイントを教えてください。
            </p>
            <p class="p-interviewBlock__a c-text">
                一つ一つの製品が、他部署の方と連携し調整を繰り返しながら、より良い製品を目指して手をかけて造っています。 新たな製品の製造など、自分に新しいことが出来るようになった時にやりがいを感じます。
            </p>
        </div>
        <div class="p-interviewBlock__unit">
            <p class="p-interviewBlock__q">
                <span>04</span>この会社への入社を志望している方へ一言お願いします。
            </p>
            <p class="p-interviewBlock__a c-text">
                僕は先輩社員の方に相談してみたり、上司に相談してみたりして壁を乗り越えてきました。<br>そこから自分の成長に繋がることもありました。 人からもらった言葉や知識は大事にするようにしています。
            </p>
        </div>
        <div class="p-interviewBlock__unit">
            <p class="p-interviewBlock__q">
                <span>05</span>どんな人が会社に向いていると思いますか。
            </p>
            <p class="p-interviewBlock__a c-text">
                何かを造り生み出すのが好きな人。 黙々と真剣に作業したい人。 基本的に残業がないので、自分のプライベートの時間をしっかりと充実させたい人。
            </p>
        </div>
        <div class="p-interviewBlock__unit">
            <p class="p-interviewBlock__q">
                <span>06</span>休日の過ごし方は？
            </p>
            <p class="p-interviewBlock__a c-text">
                僕は家族と出掛ける事が多いです。公園に行ったり他府県の観光しに行ったりするのが好きなので休日も充実してます。 たまに先輩社員と食事に行くこともありますので、日頃ゆっくり話せないことでも向き合って相談を聞いてもらってます。 カレンダー通りの休みなので計画を建てられやすいと思います。
            </p>
        </div>
    </div>
</div>