<div class="p-interviewBlock">
    <h2 class="p-interviewBlock__title">InTERVIEW #03</h2>
    <div class="p-interviewBlock__wrap">
        <picture class="p-interviewBlock__img">
            <source srcset="./images/recruit/interview_03.webp" type="image/webp" />
            <img src="./images/recruit/interview_03.jpg" alt="">
        </picture>
        <div class="p-interviewBlock__prof">
            <p class="p-interviewBlock__name">竹内 勇人（タケウチ　ハヤト）</p>
            <div class="p-interviewBlock__info">
                <p><span>【入社年】</span>2021年 入社3年目/転職</p>
                <p><span>【所属】</span>営業課</p>
                <p><span>【担当】</span>繊維加工剤の営業ならびに新規事業開拓</p>
            </div>
        </div>
    </div>
    <div class="p-interviewBlock__units">
        <div class="p-interviewBlock__unit">
            <p class="p-interviewBlock__q">
                <span>01</span>会社に入社した経緯を教えてください。
            </p>
            <p class="p-interviewBlock__a c-text">
                もともと販売職を10年しており、これからの人生を考えた時に漠然と「転職」を考えました。そんななか「化学薬剤メーカ―」ってなんだかカッコイイ！というのと、土日が休みであるという単純な理由で会社に興味を持ちました。そんな理由ではありましたが、大原パラヂウムの事を調べると、自分の生活に身近な製品に使われている事、生活を豊かにしてくれている事を知り、必ず今後も世の中で必要とされる仕事だと思い入社を志しました。
            </p>
        </div>
        <div class="p-interviewBlock__unit">
            <p class="p-interviewBlock__q">
                <span>02</span>現在の業務内容について教えてください。
            </p>
            <p class="p-interviewBlock__a c-text">
                主に繊維系の商社様に対するBtoBの営業です。<br>世の中のブームにアンテナを張り、それらから予想されるニーズに対して薬剤を提案します。後は事業開拓チームとして、新たなビジネスの種を探す事も行っています。
            </p>
        </div>
        <div class="p-interviewBlock__unit">
            <p class="p-interviewBlock__q">
                <span>03</span>入社後に担当したプロジェクトで印象に残っているものを教えてください。
            </p>
            <p class="p-interviewBlock__a c-text">
                現在も携わっている『サンチシル』という繊維を通じて地方創生を担うプロジェクトに一番思い入れがあります。各地の生産者様に話を聞き、その思いを最終商品につなげていく。難しい事も多いですが、やりがいのあるプロジェクトです。
            </p>
        </div>
        <div class="p-interviewBlock__unit">
            <p class="p-interviewBlock__q">
                <span>04</span>休日の過ごし方は？
            </p>
            <p class="p-interviewBlock__a c-text">
                私は営業課にいますが、営業課の方はアウトドアが好きな方が多いですね。<br>私もアウトドアは大好きで、休みの日には家族でデイキャンプによく行きます。<br>後はここ数年サウナにはまって、会社の方と仕事終わりにサウナにいく事もあります。
            </p>
        </div>
        <div class="p-interviewBlock__unit">
            <p class="p-interviewBlock__q">
                <span>05</span>社内の雰囲気は？
            </p>
            <p class="p-interviewBlock__a c-text">
                やる時はやる！でも時にはしっかりゆるみます(笑)<br>それこそ最近の注目キャンプギアの話で盛り上がったりする事もありますね！
            </p>
        </div>
        <div class="p-interviewBlock__unit">
            <p class="p-interviewBlock__q">
                <span>06</span>この会社へ入社を志望している方へ一言
            </p>
            <p class="p-interviewBlock__a c-text">
                私自身は全くの別業種から転職した人間ですので、不安な気持ちを持ちながら入社しました。ですが、質問しやすい先輩も多く、知識や技術は必ず後からついてきます。『化学薬剤のメーカー』というと難いイメージがありますが、先入観を持ちすぎずに挑戦をして頂きたいです！ 
            </p>
        </div>
    </div>
</div>