<div class="p-interviewBlock">
    <h2 class="p-interviewBlock__title --left">InTERVIEW #02</h2>
    <div class="p-interviewBlock__wrap --row">
        <picture class="p-interviewBlock__img">
            <source srcset="./images/recruit/interview_02.webp" type="image/webp" />
            <img src="./images/recruit/interview_02.jpg" alt="">
        </picture>
        <div class="p-interviewBlock__prof">
            <p class="p-interviewBlock__name">山田 瑞穂（ヤマダ　ミズホ）</p>
            <div class="p-interviewBlock__info">
                <p><span>【入社年】</span>2017年 入社7年目/転職</p>
                <p><span>【所属】</span>技術開発部</p>
                <p><span>【担当】</span>ウレタン樹脂開発補佐、品質管理、依頼試験​</p>
            </div>
        </div>
    </div>
    <div class="p-interviewBlock__units">
        <div class="p-interviewBlock__unit">
            <p class="p-interviewBlock__q">
                <span>01</span>文系or理系と、前職内容を教えて頂けますか。
            </p>
            <p class="p-interviewBlock__a c-text">
                文系で、前職は会計事務です。採用では、技術開発部に配属となりました。<br>化学に対する知識は一切なかったため不安はあったものの、先輩たちが一から丁寧に教えてくださり、問題なく業務にあたることができました。現在では、各種製品の試験や品質管理も担当し知識を増やしています。
            </p>
        </div>
        <div class="p-interviewBlock__unit">
            <p class="p-interviewBlock__q">
                <span>02</span>入社後に担当したプロジェクトで印象に残っているものを教えてください。
            </p>
            <p class="p-interviewBlock__a c-text">
                開発担当者とともに試作と試験を繰り返し、数年かけて開発したウレタン樹脂の性能がお客様に好評で、売り上げに繋がったこと。補佐という立場ではありますが、自分の日頃の試験が開発の役に立っているのだと実感しました。
            </p>
        </div>
        <div class="p-interviewBlock__unit">
            <p class="p-interviewBlock__q">
                <span>03</span>仕事で壁にぶつかったときどのように解決していますか。
            </p>
            <p class="p-interviewBlock__a c-text">
                試験の結果があまり良くない場合、生地の種類や測定環境の変化など、様々な要因が考えられます。そういったときは、改めて過去のデータを見直し、原因を考えます。上司や先輩方とも逐一相談し、アドバイスをもらいながら進めています。
            </p>
        </div>
        <div class="p-interviewBlock__unit">
            <p class="p-interviewBlock__q">
                <span>04</span>チャレンジしてみたい業務やプロジェクトはありますか。
            </p>
            <p class="p-interviewBlock__a c-text">
                開発補佐から開発担当者になられた方も大勢いらっしゃいます。私も日々知識を吸収し、いつか先輩方のように開発担当者として業務にあたりたいです。
            </p>
        </div>
        <div class="p-interviewBlock__unit">
            <p class="p-interviewBlock__q">
                <span>05</span>休日の過ごし方は？
            </p>
            <p class="p-interviewBlock__a c-text">
                ありがたいことに仲の良い同期や先輩がいて、休日にもお会いすることがあります。また、私はライブに行くのが好きなので、平日のときは有休を取得し、会場へ行くこともあります。
            </p>
        </div>
        <div class="p-interviewBlock__unit">
            <p class="p-interviewBlock__q">
                <span>06</span>この会社へ入社を希望している人へ一言
            </p>
            <p class="p-interviewBlock__a c-text">
                化学の知識がないと難しそうと思われるかもしれませんが、少しずつ学んでいける環境が整っているので問題ありません。私もまだまだ勉強中の身です。一緒に学んでいきましょう。
            </p>
        </div>
    </div>
</div>