<div class="p-innovation">
    <div class="p-innovation__inner l-inner">
        <div class="p-innovation__title">
            <%- include('../component/_c-title',{
                title:'新規開発の流れ',
                subtitle:'INNOVATION',
                subColor:'green',
                mainColor:'black',
                modifier:'',
                modifier2:'--small',
            }) %>
        </div>
        <picture class="p-innovation__img">
            <source srcset="./images/study/innovation.webp" type="image/webp" />
            <img src="./images/study/innovation.jpg" alt="新規開発の流れ ">
        </picture>
    </div>
</div>