<div class="p-initiatives">
    <div class="p-initiatives__inner l-inner">
        <div class="p-initiatives__title">
            <%- include('../component/_c-title',{
                title:'取り組み',
                subtitle:'Initiatives',
                subColor:'green',
                mainColor:'black',
                modifier:'',
                modifier2:'--small',
            }) %>
        </div>
        <div class="p-initiatives__items">
            <div class="p-initiatives__item">
                <%- include('../component/_c-rowItem') %>
            </div>
            <div class="p-initiatives__item">
                <div class="c-rowItem">
                    <div class="c-rowItem__content">
                        <h3 class="c-rowItem__title">支援事業への挑戦 </h3>
                        <p class="c-rowItem__text c-text">
                            学や企業、測定機関などと協力して、製品や製造方法の開発に取り組んでいます。また、それらに関連する測定機器や製造機械の開発も、支援事業を通じて行っています。常に新しい技術やアイデアに挑戦し、世の中のニーズに応えることを目指しています。 
                        </p>
                        <div class="c-rowItem__list c-text">
                            <span>事例</span><br>
                            サポイン事業、ものつくり中小企業支援事業、京都産業21支援事業、他
                        </div>
                    </div>
                    <picture class="c-rowItem__img">
                        <img src="./images/study/initiatives_02.jpg" alt="支援事業への挑戦 ">
                    </picture>
                </div>
            </div>
            <div class="p-initiatives__item">
                <div class="c-rowItem">
                    <div class="c-rowItem__content">
                        <h3 class="c-rowItem__title">依頼試験対応 </h3>
                        <p class="c-rowItem__text c-text">
                            多様なニーズに応えるために、顧客から提供される生地等に対して、最適使用濃度の試験を迅速に行っています。更に、加工場で加工された本生産生地の各種試験（機能性試験、堅牢度試験等）の評価も行っています。これらの試験は、生地の性能や耐久性を検証することで、得意先との信頼関係を大切にし、満足度の高いサービスを提供することを目指しています。
                        </p>
                        <div class="c-rowItem__list c-text">
                            <span>保有設備</span><br>
                            抗菌測定室、恒温恒湿室、FTIR測定器、UV測定器、マイクロスコープ、引張強度試験機、耐光試験機、マングル、ピンテンター連続乾燥機、高水圧測定器、標準ガス発生装置、真空乾燥機、恒温恒湿器、乾燥器、他
                        </div>
                    </div>
                    <picture class="c-rowItem__img">
                        <img src="./images/study/initiatives_03.jpg" alt="依頼試験対応 ">
                    </picture>
                </div>
            </div>
            <div class="p-initiatives__item">
                <div class="c-rowItem">
                    <div class="c-rowItem__content">
                        <h3 class="c-rowItem__title">調査依頼対応 </h3>
                        <p class="c-rowItem__text c-text">
                            調査依頼についてはOEKO-TEX、REACH、 ZDHC等の規制物質の含有調査等の報告資料の作成を行っています。規制物質の含有調査は、製品や原材料に対して、環境や健康に影響を与える可能性のある物質が含まれていないかを調査するものです。日々規制が厳しくなる中ですが、安心安全を提供するための重要な業務と位置付け、正確且つ迅速な対応を実施しています。 
                        </p>
                    </div>
                    <picture class="c-rowItem__img">
                        <img src="./images/study/initiatives_04.jpg" alt="調査依頼対応 ">
                    </picture>
                </div>
            </div>
            <div class="p-initiatives__item">
                <div class="c-rowItem">
                    <div class="c-rowItem__content">
                        <h3 class="c-rowItem__title">OEE<small>（Original Equipment Manufacturing）</small>対応 </h3>
                        <p class="c-rowItem__text c-text">
                            顧客から依頼される完成品、半完成品に応じて製造することが出来ます。また、原料に対しても完成品対応を行います。弊社は様々な製品に応用できる水分散技術を持っており、この技術を活用して顧客の要望にお応えします。 
                        </p>
                    </div>
                    <picture class="c-rowItem__img">
                        <img src="./images/study/initiatives_05.jpg" alt="OEE（Original Equipment Manufacturing）対応 ">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</div>