<div class="p-jobList">
    <h3 class="p-jobList__title c-iconTitle">
        <img src="./images/recruit/icon_feature.svg" alt="アイコン">
        特徴
    </h3>
    <ul class="p-jobList__lists">
        <li class="p-jobList__list">製造から出荷まで一貫して担当する事が多く、やりがいを感じやすい。</li>
        <li class="p-jobList__list">取り扱い品目が多く、日々の製造内容が異なるので飽きがこない。</li>
        <li class="p-jobList__list">体を動かす仕事が多く、体力の維持向上にも繋がる。</li>
    </ul>
</div>