<div class="p-job">
    <div class="p-job__inner l-inner">
        <h2 class="p-job__title">製造職</h2>
        <div class="p-job__wrap">
            <div class="p-job__content">
                <p class="p-job__bigText">
                    自社製品を高品質で製造し続ける<br>プロフェッショナル 
                </p>
                <p class="p-job__text c-text">
                    「多品種小ロット」という当社の強みを支えるのが製造部署です。<br>
                    多くの品番を管理し、安定した品質で生産します。大正15年の創業当時から顧客の信頼を得続けているのは、製造職のスキルの高さが大きな要因です。<br>
                    他の部署以上に体力を要しますが、勤続年数が長い人も多く、長く働きやすい環境です。
                </p>
            </div>
            <picture class="p-job__img">
                <img src="./images/recruit/our_01.jpg" alt="仕事のようす">
            </picture>
        </div>
        <div class="p-job__info">
            <div class="p-job__list">
                <%- include('_p-jobList') %>
            </div>
            <div class="p-job__list">
                <%- include('_p-jobList2') %>
            </div>
            <div class="p-job__flow">
                <%- include('_p-flow') %>
            </div>
        </div>
    </div>
</div>