<div class="p-jobNav">
    <div class="p-jobNav__inner l-inner">
        <ul class="p-jobNav__links">
            <li class="p-jobNav__link is-active">
                <a href="#">
                    <span>01</span>
                    <p>製造職</p>
                </a>
            </li>
            <li class="p-jobNav__link">
                <a href="#">
                    <span>02</span>
                    <p>技術開発職</p>
                </a>
            </li>
            <li class="p-jobNav__link">
                <a href="#">
                    <span>03</span>
                    <p>営業職</p>
                </a>
            </li>
            <li class="p-jobNav__link">
                <a href="#">
                    <span>04</span>
                    <p>事務職<small>（本社・工場） </small></p>
                </a>
            </li>
        </ul>
    </div>
</div>