<div class="p-lineup">
    <div class="p-lineup__inner l-inner">
        <div class="p-lineup__title">
            <%- include('../component/_c-singleTitle',{
                title:'主なラインナップ',
                subtitle:'LINE UP'
            }) %>
        </div>
        <div class="p-lineup__items">
            <div class="p-lineup__item js-lineup">
                <p class="p-lineup__text">風合い</p>
                <ul class="p-lineup__lists">
                    <li class="p-lineup__list">うるわし繊維 - 美容成分配合柔軟剤</li>
                    <li class="p-lineup__list">αシリーズ - 浴中加工対応の加工剤シリーズ</li>
                </ul>
            </div>
            <div class="p-lineup__item js-lineup">
                <p class="p-lineup__text">撥水撥油・防汚</p>
                <ul class="p-lineup__lists">
                    <li class="p-lineup__list">フッ素撥水撥油加工剤 - 高い撥水撥油性</li>
                    <li class="p-lineup__list">非フッ素撥水 - 高い撥水撥油性</li>
                    <li class="p-lineup__list">防汚加工剤 - 汚れが落ちやすい、付きにくい</li>
                </ul>
            </div>
            <div class="p-lineup__item js-lineup">
                <p class="p-lineup__text">衛生対策</p>
                <ul class="p-lineup__lists">
                    <li class="p-lineup__list">うるわし繊維 - 美容成分配合柔軟剤</li>
                    <li class="p-lineup__list">αシリーズ - 浴中加工対応の加工剤シリーズ</li>
                </ul>
            </div>
            <div class="p-lineup__item js-lineup">
                <p class="p-lineup__text">美容・健康</p>
                <ul class="p-lineup__lists">
                    <li class="p-lineup__list">うるわし繊維 - 美容成分配合柔軟剤</li>
                    <li class="p-lineup__list">αシリーズ - 浴中加工対応の加工剤シリーズ</li>
                </ul>
            </div>
            <div class="p-lineup__item js-lineup">
                <p class="p-lineup__text">非フッ素撥水</p>
                <ul class="p-lineup__lists">
                    <li class="p-lineup__list">うるわし繊維 - 美容成分配合柔軟剤</li>
                    <li class="p-lineup__list">αシリーズ - 浴中加工対応の加工剤シリーズ</li>
                </ul>
            </div>
            <div class="p-lineup__item js-lineup">
                <p class="p-lineup__text">消臭加工剤</p>
                <ul class="p-lineup__lists">
                    <li class="p-lineup__list">うるわし繊維 - 美容成分配合柔軟剤</li>
                    <li class="p-lineup__list">αシリーズ - 浴中加工対応の加工剤シリーズ</li>
                </ul>
            </div>
            <div class="p-lineup__item js-lineup">
                <p class="p-lineup__text">コーティング加工</p>
                <ul class="p-lineup__lists">
                    <li class="p-lineup__list">うるわし繊維 - 美容成分配合柔軟剤</li>
                    <li class="p-lineup__list">αシリーズ - 浴中加工対応の加工剤シリーズ</li>
                </ul>
            </div>
            <div class="p-lineup__item">
                <p class="p-lineup__text">aシリーズ<span>浴中加工対応の加工剤シリーズ</span></p>
            </div>
            <div class="p-lineup__item">
                <p class="p-lineup__text">帯電防止加工剤<span>静電気の発生を抑える</span></p>
            </div>
            <div class="p-lineup__item">
                <p class="p-lineup__text">透け防止加工剤<span>中に着用した衣類を透けにくく</span></p>
            </div>
            <div class="p-lineup__item">
                <p class="p-lineup__text">ストレッチパック加工剤<span>伸びやすく戻りやすい。<br>しわ防止にも</span></p>
            </div>
            <div class="p-lineup__item">
                <p class="p-lineup__text">and more …<span>起毛、艶消、スリップ防止、<Br>リップル加工など</span></p>
            </div>
        </div>
        <div class="p-lineup__icon">
            <img src="./images/common/check.svg" alt="アイコン">
        </div>
        <p class="p-lineup__note">
            対象素材に応じて品番が多数ございます。<br>
            具体的な製品情報に関してはお問い合わせくださいませ。
        </p>
        <div class="p-lineup__sustainability">
            <%- include('_p-earth') %>
        </div>
    </div>
</div>