<div class="p-mvModal">
    <button class="p-mvModal__close js-mv-modal-close">
        <span></span>
        <span></span>
    </button>
    <div class="p-mvModal__contents">
        <div class="p-mvModal__content">
            <div class="p-mvModal__wrap">
                <h3 class="p-mvModal__title"><span>自動車</span></h3>
                <picture class="p-mvModal__img">
                    <source srcset="./images/top/modal_01.webp" type="image/webp" />
                    <img src="./images/top/modal_01.jpg" alt="自動車">
                </picture>
                <div class="p-mvModal__blocks">
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_01_1.jpg" alt="カーシート・カーマット">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">カーシート・カーマット</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">撥水撥油加工</li>
                                <li class="p-mvModal__list">抗菌抗ウイルス加工</li>
                                <li class="p-mvModal__list">摩耗強度向上加工</li>
                                <li class="p-mvModal__list">抗アレルゲン加工 </li>
                                <li class="p-mvModal__list">防カビ加工</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_01_2.jpg" alt="空調">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">空調</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">b.caveシリーズ</li>
                                <li class="p-mvModal__list">マイナスイオン加工</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_01_3.jpg" alt="部材（天井材、インパネ等）">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">部材<small>（天井材、インパネ等）</small></div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">水系ウレタン接着剤</li>
                                <li class="p-mvModal__list">柔軟加工</li>
                                <li class="p-mvModal__list">防汚加工</li>
                                <li class="p-mvModal__list">耐油加工</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="p-mvModal__content">
            <div class="p-mvModal__wrap">
                <h3 class="p-mvModal__title"><span>農場</span></h3>
                <picture class="p-mvModal__img">
                    <source srcset="./images/top/modal_02.webp" type="image/webp" />
                    <img src="./images/top/modal_02.jpg" alt="農場">
                </picture>
                <div class="p-mvModal__blocks">
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_02_1.jpg" alt="臭気・ガス（メタン）・感染症問題">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">臭気・ガス<small>（メタン）</small>・感染症問題</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">b.caveシリーズ</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_02_2.jpg" alt="動物用衣類">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">動物用衣類</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">冷感加工</li>
                                <li class="p-mvModal__list">防虫加工</li>
                                <li class="p-mvModal__list">吸湿発熱加工</li>
                                <li class="p-mvModal__list">熱遮蔽加工</li>
                                <li class="p-mvModal__list">調温加工</li>
                                <li class="p-mvModal__list">水系ウレタン接着剤</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_02_3.jpg" alt="農業資材（クリーンクロス、消毒マット、ハウス等）">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">農業資材<small>（クリーンクロス、消毒マット、ハウス等）</small></div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">b.caveシリーズ</li>
                                <li class="p-mvModal__list">撥水加工</li>
                                <li class="p-mvModal__list">抗ウイルス加工</li>
                                <li class="p-mvModal__list">防風コーティング</li>
                                <li class="p-mvModal__list">硬仕上げ加工</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-mvModal__content">
            <div class="p-mvModal__wrap">
                <h3 class="p-mvModal__title"><span>宿泊施設</span></h3>
                <picture class="p-mvModal__img">
                    <source srcset="./images/top/modal_03.webp" type="image/webp" />
                    <img src="./images/top/modal_03.jpg" alt="宿泊施設">
                </picture>
                <div class="p-mvModal__blocks">
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_03_1.jpg" alt="空調　喫煙所・共有スペース">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">空調　喫煙所・共有スペース</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">抗ウイルス加工</li>
                                <li class="p-mvModal__list">KYOHPARA</li>
                                <li class="p-mvModal__list">b.caveシリーズ</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_03_2.jpg" alt="温泉施設">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">温泉施設</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">撥水加工</li>
                                <li class="p-mvModal__list">吸水加工</li>
                                <li class="p-mvModal__list">抗ウイルス加工</li>
                                <li class="p-mvModal__list">マイナスイオン加工</li>
                                <li class="p-mvModal__list">b.caveシリーズ</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_03_3.jpg" alt="浴衣・リネン">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">浴衣・リネン</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">抗菌加工</li>
                                <li class="p-mvModal__list">うるわし繊維</li>
                                <li class="p-mvModal__list">ゲルマニウム加工</li>
                                <li class="p-mvModal__list">サンチシル</li>
                                <li class="p-mvModal__list">マイナスイオン加工</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-mvModal__content">
            <div class="p-mvModal__wrap">
                <h3 class="p-mvModal__title"><span>アウトドア</span></h3>
                <picture class="p-mvModal__img">
                    <source srcset="./images/top/modal_04.webp" type="image/webp" />
                    <img src="./images/top/modal_04.jpg" alt="アウトドア">
                </picture>
                <div class="p-mvModal__blocks">
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_04_1.jpg" alt="テント・チェアなど">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">テント・チェアなど</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">撥水加工</li>
                                <li class="p-mvModal__list">UVカット加工</li>
                                <li class="p-mvModal__list">防カビ加工</li>
                                <li class="p-mvModal__list">防虫加工</li>
                                <li class="p-mvModal__list">防水コーティング</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_04_2.jpg" alt="アウトドアウェア">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">アウトドアウェア</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">防虫加工</li>
                                <li class="p-mvModal__list">摩耗強度向上加工</li>
                                <li class="p-mvModal__list">熱遮蔽加工</li>
                                <li class="p-mvModal__list">花粉リリーズ加工</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_04_3.jpg" alt="臭気問題（ゴミ、トイレ、BBQ臭など）">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">臭気問題<small>（ゴミ、トイレ、BBQ臭など）</small></div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">消臭加工</li>
                                <li class="p-mvModal__list">柔軟加工</li>
                                <li class="p-mvModal__list">b.caveシリーズ</li>
                                <li class="p-mvModal__list">抗菌防臭加工</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-mvModal__content">
            <div class="p-mvModal__wrap">
                <h3 class="p-mvModal__title"><span>バス・電車</span></h3>
                <picture class="p-mvModal__img">
                    <source srcset="./images/top/modal_05.webp" type="image/webp" />
                    <img src="./images/top/modal_05.jpg" alt="バス・電車">
                </picture>
                <div class="p-mvModal__blocks">
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_05_1.jpg" alt="座席">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">座席</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">抗ウイルス加工</li>
                                <li class="p-mvModal__list">防汚加工</li>
                                <li class="p-mvModal__list">撥水加工</li>
                                <li class="p-mvModal__list">防虫加工</li>
                                <li class="p-mvModal__list">ウレタンコーティング</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_05_2.jpg" alt="手すり・つり革">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">手すり・つり革</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">抗ウイルス加工</li>
                                <li class="p-mvModal__list">抗菌加工</li>
                                <li class="p-mvModal__list">撥油加工</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_05_3.jpg" alt="空調">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">空調</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">抗アレルゲン加工</li>
                                <li class="p-mvModal__list">b.caveシリーズ</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-mvModal__content">
            <div class="p-mvModal__wrap">
                <h3 class="p-mvModal__title"><span>医療・介護</span></h3>
                <picture class="p-mvModal__img">
                    <source srcset="./images/top/modal_06.webp" type="image/webp" />
                    <img src="./images/top/modal_06.jpg" alt="医療・介護">
                </picture>
                <div class="p-mvModal__blocks">
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_06_1.jpg" alt="リネン関係">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">リネン関係</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">抗ウイルス加工</li>
                                <li class="p-mvModal__list">消臭加工</li>
                                <li class="p-mvModal__list">風合い加工</li>
                                <li class="p-mvModal__list">抗菌防臭加工</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_06_2.jpg" alt="手術着・ナース服">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">手術着・ナース服</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">防汚加工（血）</li>
                                <li class="p-mvModal__list">抗ウイルス加工</li>
                                <li class="p-mvModal__list">帯電防止加工</li>
                                <li class="p-mvModal__list">防汚加工</li>
                                <li class="p-mvModal__list">吸水速乾加工</li>
                                <li class="p-mvModal__list">撥水加工</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_06_3.jpg" alt="パーテーション、空調">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">パーテーション、空調</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">抗ウイルス加工</li>
                                <li class="p-mvModal__list">マイナスイオン加工</li>
                                <li class="p-mvModal__list">b.caveシリーズ</li>
                                <li class="p-mvModal__list">水系ウレタン接着剤</li>
                                <li class="p-mvModal__list">撥水撥油加工</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-mvModal__content">
            <div class="p-mvModal__wrap">
                <h3 class="p-mvModal__title"><span>雨、風</span></h3>
                <picture class="p-mvModal__img">
                    <source srcset="./images/top/modal_07.webp" type="image/webp" />
                    <img src="./images/top/modal_07.jpg" alt="雨、風">
                </picture>
                <div class="p-mvModal__blocks">
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_07_1.jpg" alt="傘">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">傘</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">撥水加工</li>
                                <li class="p-mvModal__list">UVカット加工</li>
                                <li class="p-mvModal__list">熱遮蔽加工</li>
                                <li class="p-mvModal__list">防カビ加工</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_07_2.jpg" alt="レインウェア・雨靴">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">レインウェア・雨靴</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">非フッ素撥水加工</li>
                                <li class="p-mvModal__list">透湿防水加工</li>
                                <li class="p-mvModal__list">防汚加工</li>
                                <li class="p-mvModal__list">防風加工</li>
                                <li class="p-mvModal__list">吸放湿加工</li>
                                <li class="p-mvModal__list">防カビ加工</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_07_3.jpg" alt="対策グッズ（スプレー等）">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">対策グッズ<small>（スプレー等）</small></div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">撥水剤</li>
                                <li class="p-mvModal__list">柔軟加工</li>
                                <li class="p-mvModal__list">防汚加工</li>
                                <li class="p-mvModal__list">耐油加工</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-mvModal__content">
            <div class="p-mvModal__wrap">
                <h3 class="p-mvModal__title"><span>工場</span></h3>
                <picture class="p-mvModal__img">
                    <source srcset="./images/top/modal_08.webp" type="image/webp" />
                    <img src="./images/top/modal_08.jpg" alt="工場">
                </picture>
                <div class="p-mvModal__blocks">
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_08_1.jpg" alt="臭気・有害ガス問題（機器破損など）">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">臭気・有害ガス問題<small>（機器破損など）</small></div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">b.caveシリーズ</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_08_2.jpg" alt="ユニフォーム">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">ユニフォーム</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">撥水撥油加工</li>
                                <li class="p-mvModal__list">防汚加工</li>
                                <li class="p-mvModal__list">消臭加工</li>
                                <li class="p-mvModal__list">ストレッチバック加工</li>
                                <li class="p-mvModal__list">帯電防止加工</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_08_3.jpg" alt="修理・補修">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">修理・補修</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">水系ウレタン接着剤</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-mvModal__content">
            <div class="p-mvModal__wrap">
                <h3 class="p-mvModal__title"><span>アパレル</span></h3>
                <picture class="p-mvModal__img">
                    <source srcset="./images/top/modal_09.webp" type="image/webp" />
                    <img src="./images/top/modal_09.jpg" alt="アパレル">
                </picture>
                <div class="p-mvModal__blocks">
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_09_1.jpg" alt="肌着">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">肌着</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">柔軟加工</li>
                                <li class="p-mvModal__list">弱酸性加工</li>
                                <li class="p-mvModal__list">抗酸化加工</li>
                                <li class="p-mvModal__list">消臭加工</li>
                                <li class="p-mvModal__list">冷感加工</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_09_2.jpg" alt="アウター">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">アウター</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">花粉リリース加工</li>
                                <li class="p-mvModal__list">撥水加工</li>
                                <li class="p-mvModal__list">防シワ加工</li>
                                <li class="p-mvModal__list">防虫加工</li>
                                <li class="p-mvModal__list">防汚加工</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_09_3.jpg" alt="ボトムス">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">ボトムス</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">ストレッチバック加工</li>
                                <li class="p-mvModal__list">堅牢度向上加工</li>
                                <li class="p-mvModal__list">柔軟加工</li>
                                <li class="p-mvModal__list">抗酸化加工</li>
                                <li class="p-mvModal__list">撥水撥油加工</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-mvModal__content">
            <div class="p-mvModal__wrap">
                <h3 class="p-mvModal__title"><span>自動車</span></h3>
                <picture class="p-mvModal__img">
                    <source srcset="./images/top/modal_10.webp" type="image/webp" />
                    <img src="./images/top/modal_10.jpg" alt="自動車">
                </picture>
                <div class="p-mvModal__blocks">
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_10_1.jpg" alt="カーシート・カーマット">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">カーシート・カーマット</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">撥水撥油加工</li>
                                <li class="p-mvModal__list">抗菌抗ウイルス加工</li>
                                <li class="p-mvModal__list">摩耗強度向上加工</li>
                                <li class="p-mvModal__list">抗アレルゲン加工 </li>
                                <li class="p-mvModal__list">防カビ加工</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_10_2.jpg" alt="空調">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">空調</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">b.caveシリーズ</li>
                                <li class="p-mvModal__list">マイナスイオン加工</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_10_3.jpg" alt="部材（天井材、インパネ等）">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">部材<small>（天井材、インパネ等）</small></div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">水系ウレタン接着剤</li>
                                <li class="p-mvModal__list">柔軟加工</li>
                                <li class="p-mvModal__list">防汚加工</li>
                                <li class="p-mvModal__list">耐油加工</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-mvModal__content">
            <div class="p-mvModal__wrap">
                <h3 class="p-mvModal__title"><span>学校</span></h3>
                <picture class="p-mvModal__img">
                    <source srcset="./images/top/modal_11.webp" type="image/webp" />
                    <img src="./images/top/modal_11.jpg" alt="学校">
                </picture>
                <div class="p-mvModal__blocks">
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_11_1.jpg" alt="カーテン">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">カーテン</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">熱遮蔽加工</li>
                                <li class="p-mvModal__list">防汚加工</li>
                                <li class="p-mvModal__list">抗アレルゲン加工</li>
                                <li class="p-mvModal__list">UVカット加工</li>
                                <li class="p-mvModal__list">透け防止加工</li>
                                <li class="p-mvModal__list">花粉リリース加工</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_11_2.jpg" alt="制服">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">制服</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">形態安定加工</li>
                                <li class="p-mvModal__list">摩耗強度向上加工</li>
                                <li class="p-mvModal__list">防汚加工</li>
                                <li class="p-mvModal__list">ピリング防止加工</li>
                                <li class="p-mvModal__list">透け防止加工</li>
                                <li class="p-mvModal__list">ストレッチバック加工</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_11_3.jpg" alt="体育館（避難所としても）">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">体育館<small>（避難所としても）</small></div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">抗ウイルス加工</li>
                                <li class="p-mvModal__list">吸湿発熱加工</li>
                                <li class="p-mvModal__list">防汚加工</li>
                                <li class="p-mvModal__list">KYOHPARA</li>
                                <li class="p-mvModal__list">水系ウレタン接着剤</li>
                                <li class="p-mvModal__list">b.caveシリーズ</li>
                                <li class="p-mvModal__list">熱遮蔽加工</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-mvModal__content">
            <div class="p-mvModal__wrap">
                <h3 class="p-mvModal__title"><span>住宅</span></h3>
                <picture class="p-mvModal__img">
                    <source srcset="./images/top/modal_12.webp" type="image/webp" />
                    <img src="./images/top/modal_12.jpg" alt="住宅">
                </picture>
                <div class="p-mvModal__blocks">
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_12_1.jpg" alt="インテリアファブリック">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">インテリアファブリック</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">抗アレルゲン加工</li>
                                <li class="p-mvModal__list">防汚加工（食品）</li>
                                <li class="p-mvModal__list">撥水撥油加工</li>
                                <li class="p-mvModal__list">摩耗強度向上加工</li>
                                <li class="p-mvModal__list">防カビ加工</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_12_2.jpg" alt="寝具">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">寝具</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">消臭加工</li>
                                <li class="p-mvModal__list">抗酸化加工</li>
                                <li class="p-mvModal__list">ワタ抜け防止加工</li>
                                <li class="p-mvModal__list">ゲルマニウム加工</li>
                                <li class="p-mvModal__list">調温加工</li>
                                <li class="p-mvModal__list">水系ウレタン接着剤</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_12_3.jpg" alt="ペット関連">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">ペット関連</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">消臭加工<small>（ペット臭）</small></li>
                                <li class="p-mvModal__list">b.caveシリーズ</li>
                                <li class="p-mvModal__list">撥水加工</li>
                                <li class="p-mvModal__list">滑り止め加工</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-mvModal__content">
            <div class="p-mvModal__wrap">
                <h3 class="p-mvModal__title"><span>スポーツ</span></h3>
                <picture class="p-mvModal__img">
                    <source srcset="./images/top/modal_13.webp" type="image/webp" />
                    <img src="./images/top/modal_13.jpg" alt="スポーツ">
                </picture>
                <div class="p-mvModal__blocks">
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_13_1.jpg" alt="ウェア">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">ウェア</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">冷感加工</li>
                                <li class="p-mvModal__list">吸水速乾加工</li>
                                <li class="p-mvModal__list">防汚加工</li>
                                <li class="p-mvModal__list">UVカット加工</li>
                                <li class="p-mvModal__list">ストレッチバック加工</li>
                                <li class="p-mvModal__list">透湿防水加工</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_13_2.jpg" alt="競技アイテム">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">競技アイテム</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">摩耗強度向上加工</li>
                                <li class="p-mvModal__list">平滑性付与</li>
                                <li class="p-mvModal__list">滑り止め加工</li>
                                <li class="p-mvModal__list">防汚加工</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-mvModal__block">
                        <picture class="p-mvModal__img2">
                            <img src="./images/top/modal_13_3.jpg" alt="タオル・観戦グッズ">
                        </picture>
                        <div class="p-mvModal__group">
                            <div class="p-mvModal__subTitle">タオル・観戦グッズ</div>
                            <ul class="p-mvModal__lists">
                                <li class="p-mvModal__list">吸水速乾加工</li>
                                <li class="p-mvModal__list">冷感加工</li>
                                <li class="p-mvModal__list">熱遮蔽加工</li>
                                <li class="p-mvModal__list">防水加工</li>
                                <li class="p-mvModal__list">抗菌防臭加工</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-mvModal__bg js-mv-modal-close"></div>
</div>