<div class="p-movie">
    <figure class="p-movie__icon">
         <img src="./images/common/movie.svg" alt="動画のアイコン">
    </figure>
    <div class="p-movie__content">
        <h3 class="p-movie__title">効果を動画で紹介</h3>
        <p class="p-movie__text c-text">
            具体的な効果を分かりやすく実験動画でご紹介しています
        </p>
    </div>
    <div class="p-movie__btn">
        <%- include('../component/_c-btn',{
            link:'#',
            text:'動画を見る'
        }) %>
    </div>
</div>