<div class="p-material">
    <div class="p-material__title">
        <%- include('../component/_c-subTitle',{
            title:'納品形態'
        }) %>
    </div>
    <ul class="p-material__items">
        <li class="p-material__item">
            <p class="p-material__itemTitle">b.cave materials</p>
            <p class="p-material__text c-text">
                粉体・粒状・シート状をそのままの状態で提供。お客様は、目的や用途に応じて、自由に加工・利用することが可能です。
            </p>
        </li>
        <li class="p-material__item">
            <p class="p-material__itemTitle">b.cave materials &</p>
            <p class="p-material__text c-text">
                materialsをフィルターなどの形にした上で提供。
            </p>
        </li>
        <li class="p-material__item">
            <p class="p-material__itemTitle">b.cave equipments</p>
            <p class="p-material__text c-text">
                materialsを搭載した機器（脱臭機など）として提供。materialsを搭載した機器は、家庭用や業務用など、さまざまな用途に応じた設計が可能です。 
            </p>
        </li>
    </ul>
</div>