<div class="p-mission">
    <div class="p-mission__inner l-inner">
        <div class="p-mission__title">
            <%- include('../component/_c-title',{
                title:'大原パラヂウム化学は、<br>「サスティナブルな製品開発」を<br>将来に向けて進めます。',
                subtitle:'MISSION',
                subColor:'green',
                mainColor:'black',
                modifier:'--column --sp-none',
                modifier2:'--mt-zero --small --sp-small',
            }) %>
        </div>
        <div class="p-mission__text c-text">
            <p>
                無数の細孔を持つPCP/MOFは超瞬間消臭機能を有しており、京都大学の指導の下、造粒およびタブレット化にも成功。
                空気清浄機の進化フィルターや建材などの最終製品への採用に加え、工業品などの製造過程における臭気除去での応用も検討しています。接着剤事業では縫製を代替する製品の開発に促進し、これまでのシアノアクリレート以外での販路開拓へ検討を進めています。 
            </p>
            <p>
                さらに「Sustainable ECO Finish」を中核ブランドに据え、環境配慮型製品の拡充にも力点を置き、2019年には繊維加工に使用する高機能型水系コーテイング剤を上市。　植物原料を使用した繊維加工剤「うるわし繊維」では、エジプトの砂漠で採れたホホバオイル原料を入手し、安心・安全なスキンケア加工剤の開発検討にも着手しています。
            </p>
            <p>
                わが社の研究開発、用途開拓を支えているのが、社外との連携。京都大学や京都工芸繊維大学に加え、PCP/MOFや繊維加工剤の用途開発で、同志社女子大学や京都高度技術研究所などと、介護施設や医療機関などの領域をターゲットに産学官連携での共同開発を進めています。
            </p>
            <p>
                わが社では、祖業である繊維用加工剤、接着剤などで、魅力ある機能性製品づくりに注力。　一方で経営理念として「安心・安全で健康な環境づくり」を、事業方針として「快適住空間の創造」を掲げ、SDGｓ(持続可能な開発目標)や働き方改革に引き続き貢献してまいります。
            </p>
        </div>
    </div>
</div>