<div class="p-mv">
    <div class="p-mv__inner l-inner">
        <div class="p-mv__main">
            <picture class="p-mv__img">
                <source srcset="./images/top/mv.webp" type="image/webp" />
                <img src="./images/top/mv.png" alt="ファーストビュー">
            </picture>
            <button class="p-mv__link --1 js-mv-modal">
                <img src="./images/common/pin.png" alt="自動車のモーダルを開く">
            </button>
            <button class="p-mv__link --2 js-mv-modal">
                <img src="./images/common/pin.png" alt="農場のモーダルを開く">
            </button>
            <button class="p-mv__link --3 js-mv-modal">
                <img src="./images/common/pin.png" alt="宿泊施設のモーダルを開く">
            </button>
            <button class="p-mv__link --4 js-mv-modal">
                <img src="./images/common/pin.png" alt="アウトドアのモーダルを開く">
            </button>
            <button class="p-mv__link --5 js-mv-modal">
                <img src="./images/common/pin.png" alt="バス・電車のモーダルを開く">
            </button>
            <button class="p-mv__link --6 js-mv-modal">
                <img src="./images/common/pin.png" alt="医療・介護のモーダルを開く">
            </button>
            <button class="p-mv__link --7 js-mv-modal">
                <img src="./images/common/pin.png" alt="雨、風のモーダルを開く">
            </button>
            <button class="p-mv__link --8 js-mv-modal">
                <img src="./images/common/pin.png" alt="工場のモーダルを開く">
            </button>
            <button class="p-mv__link --9 js-mv-modal">
                <img src="./images/common/pin.png" alt="アパレルのモーダルを開く">
            </button>
            <button class="p-mv__link --10 js-mv-modal">
                <img src="./images/common/pin.png" alt="のモーダルを開く">
            </button>
            <button class="p-mv__link --11 js-mv-modal">
                <img src="./images/common/pin.png" alt="学校のモーダルを開く">
            </button>
            <button class="p-mv__link --12 js-mv-modal">
                <img src="./images/common/pin.png" alt="住宅のモーダルを開く">
            </button>
            <button class="p-mv__link --13 js-mv-modal">
                <img src="./images/common/pin.png" alt="スポーツのモーダルを開く">
            </button>
        </div>
        <h1 class="p-mv__title">
            衣・住・美・健・環<br>
            <span>化学の発想で彩ります</span>
        </h1>
        <div class="p-mv__text">
            <img src="./images/common/pin.png" alt="ピン">
            クリックして関連製品をチェック
        </div>
        <div class="p-mv__modal">
            <%- include('_p-mvModal') %>
        </div>
    </div>
</div>