<div class="p-office">
    <div class="p-office__inner l-inner">
        <div class="p-office__title">
            <%- include('../component/_c-singleTitle',{
                title:'主な事業所',
                subtitle:'OFFICE',
                modifier:'--left',
                modifier2:'--left',
            }) %>
        </div>
        <div class="p-office__items">
            <div class="p-office__item">
                <div class="p-office__content">
                    <h3 class="p-office__subTitle">本社</h3>
                    <p class="p-office__address c-text">
                        〒602-8155<br>京都市上京区竹屋町通千本東入上ル主税町1092
                    </p>
                    <p class="p-office__tel c-text">TEL：075-841-8521　FAX：075-811-5715</p>
                    <div class="p-office__btn">
                        <%- include('../component/_c-googleBtn',{
                            link:'#'
                        }) %>
                    </div>
                </div>
                <picture class="p-office__img">
                    <img src="./images/common/dummy.jpg" alt="本社">
                </picture>
            </div>
            <div class="p-office__item">
                <div class="p-office__content">
                    <h3 class="p-office__subTitle">吉祥院工場・化学研究所</h3>
                    <p class="p-office__address c-text">
                        〒601-8341<br>京都市南区吉祥院前田町32
                    </p>
                    <p class="p-office__tel c-text">TEL：075-681-1707　FAX：075-672-5150</p>
                    <div class="p-office__btn">
                        <%- include('../component/_c-googleBtn',{
                            link:'#'
                        }) %>
                    </div>
                </div>
                <picture class="p-office__img">
                    <img src="./images/common/dummy.jpg" alt="吉祥院工場・化学研究所">
                </picture>
            </div>
            <div class="p-office__item">
                <div class="p-office__content">
                    <h3 class="p-office__subTitle">上鳥羽工場</h3>
                    <p class="p-office__address c-text">
                        〒601-8178<br>京都市南区上鳥羽戒光45-2
                    </p>
                    <p class="p-office__tel c-text">TEL：075-691-0700　FAX：075-691-8950</p>
                    <div class="p-office__btn">
                        <%- include('../component/_c-googleBtn',{
                            link:'#'
                        }) %>
                    </div>
                </div>
                <picture class="p-office__img">
                    <img src="./images/common/dummy.jpg" alt="上鳥羽工場">
                </picture>
            </div>
        </div>
    </div>
</div>