<div class="p-pickup">
    <div class="l-inner">
        <div class="p-pickup__card">
            <%- include('../component/_c-pickupCard',{
              tag:'true'
            }) %>
        </div>
    </div>
</div>