<div class="p-pcpAbout">
    <div class="p-pcpAbout__inner l-inner">
        <div class="p-pcpAbout__wrap">
            <div class="p-pcpAbout__content">
                <div class="p-pcpAbout__title">
                    <%- include('../component/_c-title',{
                        title:'PCP/MOFとは',
                        subtitle:'ABOUT',
                        subColor:'green',
                        mainColor:'black',
                        modifier:'--column --sp-none',
                        modifier2:'--mt-zero --small',
                    }) %>
                </div>
                <p class="p-pcpAbout__smallText">
                    PCP: Porous Coordination Polymer ／ MOF: Metal OrganicFramework 
                </p>
                <p class="p-pcpAbout__text c-text">
                    PCP/MOF とは「多孔性配位高分子 / 金属有機構造体」の略称で、金属イオンと有機配位子がジャングルジムのように組み合わさった、無数の孔がある構造体です。<br>PCP/MOF は、配位子の種類により孔の大きさや性質をデザインすることができ､金属イオンの持つ機能も活用できる「多孔性材料」の新素材 として材料科学の分野にブレイクスルーをもたらしました。多孔性を活かした優れた吸着能力により、活性炭の何倍も多くの分子を取り込むことができます。<br>近年ノーベル化学賞の候補にも挙がっている、世界が注目する素材です。  
                </p>
            </div>
            <picture class="p-pcpAbout__img">
                <source srcset="./images/service/pcpAbout_01.webp" type="image/webp" />
                <img src="./images/service/pcpAbout_01.jpg" alt="PCP/MOF">
            </picture>
        </div>
        <div class="p-pcpAbout__movie">
            <lite-youtube videoid="CjpyFYIgiCA" playlabel="Play"></lite-youtube>
        </div>
    </div>
</div>