<div class="p-pageNav">
    <div class="navigation post-navigation">
        <ul class="nav-links">
            <a href="" class="prev page-numbers">
                <img src="./images/common/arrow_round.svg" alt="前へ">
            </a>
            <a href="#" class="page-numbers current">1</a>
            <a href="#" class="page-numbers">2</a>
            <a href="#" class="last page-numbers">7</a>
            <a href="" class="next page-numbers">
                <img src="./images/common/arrow_round.svg" alt="後へ">
            </a>
        </ul>
    </div>
</div>