<div class="p-recruitPersonal">
    <div class="p-recruitPersonal__inner l-inner">
        <div class="p-recruitPersonal__title">
            <%- include('../component/_c-recruitTitle',{
                title:'求める人物像',
                subtitle:'Personality'
            }) %>
        </div>
        <div class="p-recruitPersonal__box">
            <h3 class="p-recruitPersonal__subtitle">
                『どんな仕事でも<br class="u-mobile">全力で取り組める』 
            </h3>
            <p class="p-recruitPersonal__text c-text">
                市場の変化が激しい昨今、当社としてのビジネススタイルを戦略的に変えていく事もあります。<br>そんな中、どの様な流れになっても「変化を楽しめる人」は強いです。<br>それは、どんな仕事でも全力で取り組めるという事にも繋がります。今の当社には、そういった人財が多く存在します。<br><br>「100点でなくても良い、100％の力で取り組めているなら」と考え、どんな仕事でも100％全力で取り組める人財に期待します。 
            </p>
        </div>
    </div>
</div>