<div class="p-recruitCv">
    <div class="p-recruitCv__inner l-inner">
        <ul class="p-recruitCv__links">
            <li class="p-recruitCv__link">
                <a href="#">
                    <div class="p-recruitCv__text">
                        <%- include('../component/_c-singleTitle',{
                            title:' REQUIREMENTS',
                            subtitle:' 応募要項',
                            modifier:'--white',
                            modifier2:'--white'
                        }) %>
                    </div>
                    <div class="p-recruitCv__arrow">
                        <%- include('../component/_c-link') %>
                    </div>
                </a>
            </li>
            <li class="p-recruitCv__link">
                <a href="#">
                    <div class="p-recruitCv__text">
                        <%- include('../component/_c-singleTitle',{
                            title:'ENTRY',
                            subtitle:' エントリー',
                            modifier:'--white',
                            modifier2:'--white'
                        }) %>
                    </div>
                    <div class="p-recruitCv__arrow">
                        <%- include('../component/_c-link') %>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>