<div class="p-recruitWorks">
    <div class="p-recruitWorks__inner l-inner">
        <div class="p-recruitWorks__title">
            <%- include('../component/_c-recruitTitle2',{
                title:'Works',
                subtitle:'私たちの働き方'
            }) %>
        </div>
        <div class="p-recruitWorks__cards">
            <div class="p-recruitWorks__card">
                <a href="#">
                    <picture class="p-recruitWorks__icon">
                        <img src="./images/recruit/icon_01.png" alt="アイコン">
                    </picture>
                    <p class="p-recruitWorks__text">製造職</p>
                    <picture class="p-recruitWorks__img">
                        <img src="./images/recruit/works_01.jpg" alt="製造職">
                    </picture>
                </a>
            </div>
            <div class="p-recruitWorks__card">
                <a href="#">
                    <picture class="p-recruitWorks__icon">
                        <img src="./images/recruit/icon_02.png" alt="アイコン">
                    </picture>
                    <p class="p-recruitWorks__text">技術開発職</p>
                    <picture class="p-recruitWorks__img">
                        <img src="./images/recruit/works_02.jpg" alt="技術開発職">
                    </picture>
                </a>
            </div>
            <div class="p-recruitWorks__card">
                <a href="#">
                    <picture class="p-recruitWorks__icon">
                        <img src="./images/recruit/icon_03.png" alt="アイコン">
                    </picture>
                    <p class="p-recruitWorks__text">営業職</p>
                    <picture class="p-recruitWorks__img">
                        <img src="./images/recruit/works_03.jpg" alt="営業職">
                    </picture>
                </a>
            </div>
            <div class="p-recruitWorks__card">
                <a href="#">
                    <picture class="p-recruitWorks__icon">
                        <img src="./images/recruit/icon_04.png" alt="アイコン">
                    </picture>
                    <p class="p-recruitWorks__text">事務職(本社・工場)</p>
                    <picture class="p-recruitWorks__img">
                        <img src="./images/recruit/works_04.jpg" alt="事務職(本社・工場)">
                    </picture>
                </a>
            </div>
        </div>
    </div>
</div>