<div class="p-recruitIntro">
    <div class="p-recruitIntro__inner l-inner">
        <p class="p-recruitIntro__text">
            私たちは、身の回りから世界情勢にまで目を向けて様々な「不快」にアンテナをはります。 <br>
            その不快を1つでも「快適」に変えていくのが私たちのミッションです。 <br>
            発想や想いに文系・理系は関係ありません。あくまでも化学はツールです。 <br>
            あなたの「快適創造力」を当社で発揮しましょう。 <br>
            「これからのワクワクする100年」を共に創り、成長していける仲間を募集します。 
        </p>
    </div>
</div>