<div class="p-recruitData">
    <div class="p-recruitData__inner l-inner">
        <div class="p-recruitData__title">
            <%- include('../component/_c-recruitTitle',{
                title:'数字で見る大原',
                subtitle:'COMPANY DATA'
            }) %>
        </div>
        <div class="p-recruitData__cards">
            <div class="p-recruitData__card --1">
                <picture>
                    <source srcset="./images/recruit/number_01.png" media="(min-width:768px)" />
                    <source srcset="./images/recruit/number_01.png" type="image/webp" />
                    <img src="./images/recruit/number_01_sp.png" alt="男女比率">
                </picture>
                <picture>
                    <source srcset="./images/recruit/number_02.png" media="(min-width:768px)" />
                    <source srcset="./images/recruit/number_02.png" type="image/webp" />
                    <img src="./images/recruit/number_02_sp.png" alt="年代別割合">
                </picture>
            </div>
            <div class="p-recruitData__card --2">
                <picture>
                    <source srcset="./images/recruit/number_03.png" media="(min-width:768px)" />
                    <source srcset="./images/recruit/number_03.png" type="image/webp" />
                    <img src="./images/recruit/number_03_sp.png" alt="転職・新卒比">
                </picture>
                <picture>
                    <source srcset="./images/recruit/number_04.png" media="(min-width:768px)" />
                    <source srcset="./images/recruit/number_04.png" type="image/webp" />
                    <img src="./images/recruit/number_04_sp.png" alt="創業">
                </picture>
                <picture>
                    <source srcset="./images/recruit/number_05.png" media="(min-width:768px)" />
                    <source srcset="./images/recruit/number_05.png" type="image/webp" />
                    <img src="./images/recruit/number_05_sp.png" alt="残業時間">
                </picture>
            </div>
            <div class="p-recruitData__card --3">
                <picture>
                    <source srcset="./images/recruit/number_06.png" media="(min-width:768px)" />
                    <source srcset="./images/recruit/number_06.png" type="image/webp" />
                    <img src="./images/recruit/number_06_sp.png" alt="職種別割合">
                </picture>
                <picture>
                    <source srcset="./images/recruit/number_07.png" media="(min-width:768px)" />
                    <source srcset="./images/recruit/number_04.png" type="image/webp" />
                    <img src="./images/recruit/number_07_sp.png" alt="社員の住んでる場所">
                </picture>
            </div>
        </div>
    </div>
</div>