<div class="p-recruitMv">
    <div class="p-recruitMv__inner l-inner">
        <picture class="p-recruitMv__img">
            <source srcset="./images/recruit/mv_pc.webp" media="(min-width:768px)" type="image/webp" />
            <source srcset="./images/recruit/mv_pc.jpg" media="(min-width:768px)" />
            <source srcset="./images/recruit/mv_sp.webp" type="image/webp" />
            <img src="./images/recruit/mv_sp.jpg" alt="ファーストビュー">
        </picture>
        <hgourp class="p-recruitMv__title">
            <p class="p-recruitMv__sub">Create comfort and make your life fun</p>
            <h1 class="p-recruitMv__main">
                快適を創造し、<br>豊かな人生を
            </h1>
        </hgourp>
        <div class="p-recruitMv__btn">
            <a href="#" class="c-btn">
                <img src="./images/common/entry.svg" alt="アイコン">
                ENTRY
                <div class="c-btn__link">
                    <%- include('../component/_c-link') %>
                </div>
            </a>
        </div>
    </div>
</div>