<div class="p-studySlide">
    <div class="p-studySlide__inner l-inner">
        <h2 class="p-studySlide__title u-mobile">
            <span>独自性</span>
            <span>サステナビリティ</span>
            <span>挑戦</span>
        </h2>
        <h2 class="p-studySlide__title u-desktop">
            <span>独自性・サステナビリティ・挑戦 </span>
        </h2>
        <div class="p-studySlide__slider">
            <div class="p-studySlide__picture">
                <picture>
                    <source srcset="./images/study/slide_01.webp" type="image/webp" />
                    <img src="./images/study/slide_01.jpg" alt="画像">
                </picture>
                <picture>
                    <source srcset="./images/study/slide_02.webp" type="image/webp" />
                    <img src="./images/study/slide_02.jpg" alt="画像">
                </picture>
                <picture>
                    <source srcset="./images/study/slide_03.webp" type="image/webp" />
                    <img src="./images/study/slide_03.jpg" alt="画像">
                </picture>
            </div>
        </div>
    </div>
</div>