<div class="p-sitemap">
    <div class="p-sitemap__inner l-inner">
        <ul class="p-sitemap__blocks">
            <li class="p-sitemap__block">
                <p class="p-sitemap__title">
                    <a href="#">事業紹介</a>
                </p>
                <ul class="p-sitemap__links">
                    <li class="p-sitemap__link"><a href="#">繊維加工剤</a></li>
                    <li class="p-sitemap__link"><a href="#">PCP/MOF</a></li>
                </ul>
            </li>
            <li class="p-sitemap__block">
                <p class="p-sitemap__title">
                    <a href="#">会社案内</a>
                </p>
                <ul class="p-sitemap__links">
                    <li class="p-sitemap__link"><a href="#">メッセージ</a></li>
                    <li class="p-sitemap__link"><a href="#">企業理念</a></li>
                    <li class="p-sitemap__link"><a href="#">会社概要</a></li>
                    <li class="p-sitemap__link"><a href="#">歴史</a></li>
                    <li class="p-sitemap__link"><a href="#">主な事業所・ネットワーク</a></li>
                </ul>
            </li>
            <li class="p-sitemap__block">
                <p class="p-sitemap__title">
                    <a href="#">サステナビリティ</a>
                </p>
            </li>
            <li class="p-sitemap__block">
                <p class="p-sitemap__title">
                    <a href="#">研究</a>
                </p>
            </li>
            <li class="p-sitemap__block">
                <p class="p-sitemap__title">
                    <a href="#">コラム</a>
                </p>
            </li>
            <li class="p-sitemap__block">
                <p class="p-sitemap__title">
                    <a href="#">最新情報</a>
                </p>
            </li>
            <li class="p-sitemap__block">
                <p class="p-sitemap__title">
                    <a href="#">採用情報</a>
                </p>
                <ul class="p-sitemap__links">
                    <li class="p-sitemap__link"><a href="#">私たちの働き方</a></li>
                    <li class="p-sitemap__link"><a href="#">先輩の声</a></li>
                    <li class="p-sitemap__link"><a href="#">応募要項</a></li>
                </ul>
            </li>
            <li class="p-sitemap__block">
                <p class="p-sitemap__title">
                    <a href="#">お問い合わせ</a>
                </p>
            </li>
        </ul>
    </div>
</div>