<div class="p-sdg">
    <div class="p-sdg__inner l-inner">
        <div class="p-sdg__title">
            <%- include('../component/_c-title',{
                title:'大原パラヂウムのSDGs',
                subtitle:'OUR SDGS',
                subColor:'green',
                mainColor:'black',
                modifier:'',
                modifier2:'--small',
            }) %>
        </div>
        <div class="p-sdg__units">
            <div class="p-sdg__unit">
                <h3 class="p-sdg__subtitle">繊維加工剤</h3>
                <ul class="p-sdg__lists">
                    <li class="p-sdg__list">
                        <p class="p-sdg__text">・繊維to繊維を後加工剤で後押し</p>
                        <ul class="p-sdg__goals">
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg9.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg11.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg12.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg13.jpg" alt="">
                            </li>
                        </ul>
                    </li>
                    <li class="p-sdg__list">
                        <p class="p-sdg__text">・エジプトで砂漠緑化に取り組むシモンド社との協業</p>
                        <ul class="p-sdg__goals --initial">
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg1.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg13.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg15.jpg" alt="">
                            </li>
                        </ul>
                    </li>
                    <li class="p-sdg__list">
                        <p class="p-sdg__text">・衛生対策シリーズの拡充（抗菌、抗ウイルス、消臭、防虫など）</p>
                        <ul class="p-sdg__goals --initial">
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg3.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg11.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg16.jpg" alt="">
                            </li>
                        </ul>
                    </li>
                    <li class="p-sdg__list">
                        <p class="p-sdg__text">・冷感加工、熱遮蔽加工によるエアコンの使用量減</p>
                        <ul class="p-sdg__goals --initial">
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg3.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg7.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg13.jpg" alt="">
                            </li>
                        </ul>
                    </li>
                    <li class="p-sdg__list">
                        <p class="p-sdg__text">・吸湿発熱加工など温感加工剤の拡充</p>
                        <ul class="p-sdg__goals --initial">
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg7.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg13.jpg" alt="">
                            </li>
                        </ul>
                    </li>
                    <li class="p-sdg__list">
                        <p class="p-sdg__text">・サンチシル®企画の推進</p>
                        <ul class="p-sdg__goals --initial">
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg8.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg9.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg12.jpg" alt="">
                            </li>
                        </ul>
                    </li>
                    <li class="p-sdg__list">
                        <p class="p-sdg__text">・非フッ素撥水剤の開発と拡販</p>
                        <ul class="p-sdg__goals --initial">
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg9.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg12.jpg" alt="">
                            </li>
                        </ul>
                    </li>
                    <li class="p-sdg__list">
                        <p class="p-sdg__text">・水系/可食系コーティング剤の開発と拡販</p>
                        <ul class="p-sdg__goals --initial">
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg9.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg12.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg14.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg15.jpg" alt="">
                            </li>
                        </ul>
                    </li>
                    <li class="p-sdg__list">
                        <p class="p-sdg__text">・可食系コーティング剤の開発と拡販</p>
                        <ul class="p-sdg__goals --initial">
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg14.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg15.jpg" alt="">
                            </li>
                        </ul>
                    </li>
                    <li class="p-sdg__list">
                        <p class="p-sdg__text">・溶剤加工からの水系移行をバックアップ</p>
                        <ul class="p-sdg__goals --initial">
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg9.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg12.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg14.jpg" alt="">
                            </li>
                        </ul>
                    </li>
                    <li class="p-sdg__list">
                        <p class="p-sdg__text">・植物由来原料や魚毒性の低い乳化剤の使用</p>
                        <ul class="p-sdg__goals --initial">
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg12.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg13.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg14.jpg" alt="">
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="p-sdg__unit">
                <h3 class="p-sdg__subtitle --border">b.cave®</h3>
                <ul class="p-sdg__lists">
                    <li class="p-sdg__list --initial">
                        <p class="p-sdg__text --normal">
                            ・有害ガスの吸着<br>
                            ・脱臭効果による<br>
                            ・燃焼対応からの脱却をバックアップ<br>
                            ・CO2、温室効果ガスの吸着
                        </p>
                        <ul class="p-sdg__goals --initial">
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg3.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg11.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg12.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg13.jpg" alt="">
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="p-sdg__unit">
                <h3 class="p-sdg__subtitle --border">瞬間接着剤</h3>
                <ul class="p-sdg__lists">
                    <li class="p-sdg__list --initial">
                        <p class="p-sdg__text --normal">
                            ・ネイル用、まつ毛用製品の拡充による女性のエンパワーメントへの関与<br>
                            ・破損物の再利用化によるゴミ、廃棄物の軽減
                        </p>
                        <ul class="p-sdg__goals --initial">
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg5.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg13.jpg" alt="">
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="p-sdg__unit">
                <h3 class="p-sdg__subtitle --border">展着剤</h3>
                <ul class="p-sdg__lists">
                    <li class="p-sdg__list --initial">
                        <ul class="p-sdg__goals --initial">
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg3.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg12.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg13.jpg" alt="">
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="p-sdg__unit">
                <h3 class="p-sdg__subtitle --border">エマベース</h3>
                <ul class="p-sdg__lists">
                    <li class="p-sdg__list --initial">
                        <ul class="p-sdg__goals --initial">
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg3.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg5.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg9.jpg" alt="">
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="p-sdg__unit">
                <h3 class="p-sdg__subtitle --border">その他</h3>
                <ul class="p-sdg__lists">
                    <li class="p-sdg__list --initial">
                        <p class="p-sdg__text --normal">
                            ・ペーパーレス化<br>
                            ・近場の客先への通い容器の使用<br>
                            ・製品用容器のリサイクル<br>
                            ・受注生産や計画生産によるロス削減<br>
                            ・100％プラスチック製のクリアファイルを使用しない
                        </p>
                        <ul class="p-sdg__goals --initial">
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg7.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg12.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg13.jpg" alt="">
                            </li>
                            <li class="p-sdg__goal">
                                <img src="./images/sustainability/sdg15.jpg" alt="">
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>