<div class="p-single">
    <div class="p-single__inner l-inner">
        <div class="p-single__info">
            <time class="p-single__time" datetime="20240404">2020.02.14</time>
            <ul class="p-single__cats">
                <li class="p-single__cat c-tag">カテゴリが入ります</li>
            </ul>
        </div>
        <h1 class="p-single__title">タイトルが入ります。ダミーテキストダミーテキスト</h1>
        <div class="p-single__thumbnail">
            <img src="./images/common/dummy.jpg" alt="アイキャッチ画像">
        </div>
        <div class="p-single__content">
            <p>テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            <p>テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
            <img src="./images/common/dummy.jpg" alt="アイキャッチ画像">
        </div>
        <div class="p-single__btn">
            <%- include('../component/_c-btn',{
                text:'一覧に戻る',
                link:'#'
            }) %>
        </div>
    </div>
</div>