<div class="p-topCompany">
    <div class="p-topCompany__inner l-inner">
        <div class="p-topCompany__wrap">
            <div class="p-copCompany__content">
                <div class="p-topCompany__title">
                    <%- include('../component/_c-title',{
                        title:'快適環境を<br>自然に優しく創出する',
                        subtitle:'COMPANY',
                        subColor:'green',
                        mainColor:'black',
                        modifier:'--column',
                        modifier2:'--mt-zero',
                    }) %>
                </div>
                <p class="p-topCompany__text c-text">
                    大原パラヂウム化学は1926年に京都の地で創業して以来、新たなる『快適環境』を提案すべく日本発信、京都発信型の独自の技術確立を行い、激化する他国との競争に勝てる魅力を創出し続けています。 今後も自然に優しく調和しながらニーズを新たに創出し、ファインケミカルの分野でオンリーワンを目指していきます。 また独創的な創造型チャレンジ企業として、中国・青島大原化学有限公司との連携を生かしたグローバルな展開を軸とし、更なる大きな躍進を続けています。
                </p>
                <div class="p-topCompany__btn">
                    <%- include('../component/_c-btn',{
                        link:'#',
                        text:'企業情報トップ'
                    }) %>
                </div>
            </div>
            <picture class="p-topCompany__img">
                <source srcset="./images/top/company.webp" type="image/webp" />
                <img src="./images/top/company.png" alt="企業情報のイラスト">
            </picture>
        </div>
    </div>
</div>