<div class="p-target">
    <div class="p-target__title">
        <%- include('../component/_c-subTitle',{
            title:'ターゲット'
        }) %>
    </div>
    <ul class="p-target__lists">
        <li class="p-target__list">
            <p class="p-target__number">01</p>
            <picture class="p-target__img">
                <source srcset="./images/service/business_01.webp" type="image/webp" />
                <img src="./images/service/business_01.png" alt="職場環境の臭気問題解決">
            </picture>
            <p class="p-target__text">職場環境の臭気問題解決</p>
        </li>
        <li class="p-target__list">
            <p class="p-target__number">02</p>
            <picture class="p-target__img">
                <source srcset="./images/service/business_02.webp" type="image/webp" />
                <img src="./images/service/business_02.png" alt="臭気による周辺クレーム対応">
            </picture>
            <p class="p-target__text">臭気による<br>周辺クレーム対応</p>
        </li>
        <li class="p-target__list">
            <p class="p-target__number">03</p>
            <picture class="p-target__img">
                <source srcset="./images/service/business_03.webp" type="image/webp" />
                <img src="./images/service/business_03.png" alt="畜産・酪農業の臭気対策">
            </picture>
            <p class="p-target__text">畜産・酪農業の臭気対策</p>
        </li>
        <li class="p-target__list">
            <p class="p-target__number">04</p>
            <picture class="p-target__img">
                <source srcset="./images/service/business_04.webp" type="image/webp" />
                <img src="./images/service/business_04.png" alt="介護看護・育児の快適創出">
            </picture>
            <p class="p-target__text">介護看護・育児の快適創出</p>
        </li>
        <li class="p-target__list">
            <p class="p-target__number">05</p>
            <picture class="p-target__img">
                <source srcset="./images/service/business_05.webp" type="image/webp" />
                <img src="./images/service/business_05.png" alt="有毒ガス吸着">
            </picture>
            <p class="p-target__text">有毒ガス吸着</p>
        </li>
    </ul>
    <p class="p-target__bottom c-text">その他働きやすさや街づくり改革など様々な社会課題をb.caveで解決していきます。​</p>
</div>