<div class="p-thanks">
    <div class="p-thanks__inner l-inner">
        <div class="p-thanks__title">
            <%- include('../component/_c-singletitle',{
                title:'応募が完了しました',
                subtitle:'THANK YOU'
            }) %>
        </div>
        <p class="p-thanks__text c-text">
            応募をいただきありがとうございます。<br>
            確認のためお客様へ自動返信メールをお送りさせて頂きました。<br>
            担当者からの折り返しのご連絡をさせて頂きますので、<br>
            今しばらくお待ちくださいませ。
        </p>
        <div class="p-thanks__btn">
            <%- include('../component/_c-btn',{
                text:'トップに戻る',
                link:'#'
            }) %>
        </div>
    </div>
</div>