<div class="p-topAbout">
    <div class="p-topAbout__inner l-inner">
        <div class="p-topAbout__icon">
            <img src="./images/top/about_icon.png" alt="アイコン">
        </div>
        <h2 class="p-topAbout__title">生活の中のこんなところでも<br class="u-mobile">活躍しています</h2>
        <div class="p-topAbout__lists js-about-slider">
            <div class="p-topAbout__list">
                <div class="p-topAbout__text">
                    <h3 class="p-topAbout__listTitle">衣類</h3>
                    <p class="p-topAbout__listText">
                        様々な衣類向けで快適性を付与します。抗菌・冷感・撥水撥油・防汚・ストレッチバック性など。
                    </p>
                </div>
                <picture class="p-topAbout__img">
                    <source srcset="./images/top/about_01.webp" type="image/webp" />
                    <img src="./images/top/about_01.png" alt="衣類">
                </picture>
            </div>
            <div class="p-topAbout__list">
                <div class="p-topAbout__text">
                    <h3 class="p-topAbout__listTitle">寝装・リビング関連</h3>
                    <p class="p-topAbout__listText">
                        睡眠の質向上や住空間の快適性向上に向け、生地加工で健康づくりに貢献します。
                    </p>
                </div>
                <picture class="p-topAbout__img">
                    <source srcset="./images/top/about_02.webp" type="image/webp" />
                    <img src="./images/top/about_02.png" alt="寝装・リビング関連">
                </picture>
            </div>
            <div class="p-topAbout__list">
                <div class="p-topAbout__text">
                    <h3 class="p-topAbout__listTitle">空調</h3>
                    <p class="p-topAbout__listText">
                        日本人の4人に1人はアレルギー症状を持っていると言われており、空調の衛生維持は重要です。フィルターを介して快適を演出します。
                    </p>
                </div>
                <picture class="p-topAbout__img">
                    <source srcset="./images/top/about_03.webp" type="image/webp" />
                    <img src="./images/top/about_03.png" alt="空調">
                </picture>
            </div>
            <div class="p-topAbout__list">
                <div class="p-topAbout__text">
                    <h3 class="p-topAbout__listTitle">消毒・防虫</h3>
                    <p class="p-topAbout__listText">
                        街中からレジャーシーンまで、様々な場所でのウイルス・害虫対策が重要視されます。化学の力で快適・安全を創出します。
                    </p>
                </div>
                <picture class="p-topAbout__img">
                    <source srcset="./images/top/about_04.webp" type="image/webp" />
                    <img src="./images/top/about_04.png" alt="消毒・防虫">
                </picture>
            </div>
            <div class="p-topAbout__list">
                <div class="p-topAbout__text">
                    <h3 class="p-topAbout__listTitle">臭気・有害ガス問題</h3>
                    <p class="p-topAbout__listText">
                        工場臭気や排せつ臭などの脱臭に加え有害ガス吸着まで、PCP/MOF応用品で対応します。常識外な吸着能力。
                    </p>
                </div>
                <picture class="p-topAbout__img u-mt-zero">
                    <source srcset="./images/top/about_05.webp" type="image/webp" />
                    <img src="./images/top/about_05.png" alt="臭気・有害ガス問題">
                </picture>
            </div>
            <div class="p-topAbout__list">
                <div class="p-topAbout__text">
                    <h3 class="p-topAbout__listTitle">宇宙産業</h3>
                    <p class="p-topAbout__listText">
                        今後拡大していく宇宙産業において、特殊空間ならではの課題が多く在ると考えます。機能性付与にて宇宙産業の発展に貢献します。
                    </p>
                </div>
                <picture class="p-topAbout__img u-mt-zero">
                    <source srcset="./images/top/about_06.webp" type="image/webp" />
                    <img src="./images/top/about_06.png" alt="宇宙産業">
                </picture>
            </div>
        </div>
    </div>
</div>