<div class="p-textileAbout">
    <div class="p-textileAbout__inner l-inner">
        <div class="p-textileAbout__wrap">
            <div class="p-textileAbout__content">
                <div class="p-textileAbout__title">
                    <%- include('../component/_c-title',{
                        title:'繊維加工剤事業とは',
                        subtitle:'ABOUT',
                        subColor:'green',
                        mainColor:'black',
                        modifier:'--column --sp-none',
                        modifier2:'--mt-zero --small --sp-small',
                    }) %>
                </div>
                <p class="p-textileAbout__text c-text">
                    生活に欠かすことが出来ない繊維製品。その繊維の機能性を高め、より快適な生活を支えることが当社の繊維加工剤事業のミッションです。最終商品は、衣料をはじめ衛生材料・空調関連・自動車資材など多岐に渡ります。皆様の生活の中にも、当社製品が関わっている物があるかもしれません。<br>
                    求められる機能は目まぐるしく変化し続けますが、時代に沿った積極的な開発・営業展開を行います。<br>
                    また、創業当初から『水系』でのラインナップに一貫していることも含め、地球環境への配慮も忘れません。 <br>
                    繊維産業の“黒子”として、革新的な加工剤を提供し続けます。 
                </p>
            </div>
            <picture class="p-textileAbout__img">
                <source srcset="./images/service/textile_01.webp" type="image/webp" />
                <img src="./images/service/textile_01.jpg" alt="繊維加工剤事業とは">
            </picture>
        </div>
        <div class="p-textileAbout__movie">
            <%- include('_p-movie') %>
        </div>
    </div>
</div>