<div class="p-topRecruit">
    <div class="p-topRecruit__inner l-inner">
        <div class="p-topRecruit__block">
            <div class="p-block">
                <div class="p-block__content">
                    <div class="p-block__title">
                        <%- include('../component/_c-title',{
                            title:'快適を創造し、<br>豊かな人生を',
                            subtitle:'RECRUIT',
                            subColor:'green',
                            mainColor:'black',
                            modifier:'',
                            modifier2:'',
                        }) %>
                    </div>
                    <p class="p-block__text c-text">
                        私たちは、身の回りから世界情勢にまで目を向けて様々な「不快」にアンテナをはります。<br>
                        その不快を1つでも「快適」に変えていくのが私たちのミッションです。<br>
                        発想や想いに文系・理系は関係ありません。あくまでも化学はツールです。<br>
                        あなたの「快適創造力」を当社で発揮しましょう。<br>
                        「これからのワクワクする100年」を共に創り、成長していける仲間を募集します。 
                    </p>
                    <div class="p-block__btn">
                        <%- include('../component/_c-btn',{
                            link:'#',
                            text:'採用情報トップ'
                        }) %>
                    </div>
                </div>
                <picture class="p-block__img --small">
                    <source srcset="./images/top/recruit.webp" type="image/webp" />
                    <img src="./images/top/recruit.png" alt="採用情報のイラスト">
                </picture>
            </div>
        </div>
    </div>
</div>