<div class="p-topResearch">
    <div class="p-topResearch__inner l-inner">
        <div class="p-topResearch__block">
            <div class="p-block --rowreverse">
                <div class="p-block__content">
                    <div class="p-block__title">
                        <%- include('../component/_c-title',{
                            title:'研究',
                            subtitle:'RESEARCH',
                            subColor:'green',
                            mainColor:'black',
                            modifier:'',
                            modifier2:'',
                        }) %>
                    </div>
                    <p class="p-block__text c-text">
                        テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                    </p>
                    <div class="p-block__btn">
                        <%- include('../component/_c-btn',{
                            link:'#',
                            text:'研究'
                        }) %>
                    </div>
                </div>
                <picture class="p-block__img --left">
                    <source srcset="./images/top/research.webp" type="image/webp" />
                    <img src="./images/top/research.jpg" alt="研究の画像">
                </picture>
            </div>
        </div>
    </div>
</div>