<div class="p-totalsolution">
    <div class="p-totalsolution__title">
        <%- include('../component/_c-subTitle',{
            title:'PCP/MOF<br class="u-mobile">トータルソリューション'
        }) %>
    </div>
    <div class="p-totalsolution__wrap">
        <div class="p-totalsolution__content">
            <p class="p-totalsolution__text c-text">
                PCP/MOFを成形させる技術は、多くの産業分野での重要な役割になると考えています。当社は、PCP/MOFの配合量調整や異素材との共存など、PCP/MOFの成形に対応できる技術を持っています。各種PCPの成形の相談にお気軽にご連絡ください。お客様のニーズに合わせた最適なPCPの成形ソリューションを提供します。 
            </p>
            <div class="p-totalsolution__example">
                <span>応用例</span><br class="u-mobile">
                CO2 回収、CCS、CCUS、脱炭素、ガスタンクの小型化、 etc... 
            </div>
        </div>
        <picture class="p-totalsolution__img">
            <img src="./images/service/business_img.jpg" alt="PCP/MOFトータルソリューション">
        </picture>
    </div>
</div>