<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
    <body>
        <header class="l-header">

        </header>
        <main>
            <section class="l-subMv">
                <%- include('./project/_p-subMv',{
                    title:'応募フォーム',
                    subtitle:'ENTRY',
                }) %>
            </section>
            <div class="l-breadcrumb">
                <div class="p-breadcrumb">
                    <div class="p-breadcrumb__inner l-inner">
                        <ol itemscope itemtype="https://schema.org/BreadcrumbList">
                            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                                <a itemprop="item" href="#">
                                    <span itemprop="name">トップ</span>
                                </a>
                                <meta itemprop="position" content="1" />
                            </li>
                            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                                <span itemprop="name">応募フォーム</span>
                                <meta itemprop="position" content="2" />
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <section class="l-entry">
                <%- include('./project/_p-entry') %>
            </section>
        </main>
        <footer class="l-footer">
            <%- include('./common/_p-footer') %>
        </footer>
    </body>
</html>
