@use "global" as *;

.p-category {
    margin-top: rem(38);
    @include mq(md) {
        margin-top: rem(89);
    }
}

.p-category__chemistry,
.p-category__fashion,
.p-category__developmentStory,
.p-category__sustainable {
  margin-top: rem(61);
  @include mq(md) {
    margin-top: rem(80);
  }
}

.p-category__head {

}

.p-category__title {
    padding: rem(10) 0;
    line-height: 1.2em;
    letter-spacing: 0.08em;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    text-align: center;
    font-size: rem(24);
    font-family: $didot;
    font-weight: $regular;
    text-transform: uppercase;
    @include mq(md) {
        padding: rem(15.5) 0;
        font-size: rem(48);
    }
}

.p-category__columnCards {
  margin-top: rem(28);
  display: grid;
  gap: rem(30);
  @include mq(md) {
    margin-top: rem(59);
    grid-template-columns: repeat(3, 1fr);
    gap: rem(30) rem(60);
  }
}

.p-category__columnCard {
  padding: 0 rem(13);
  @include mq(md) {
    padding: 0;
  }
}

.p-category__btn {
  margin-top: rem(30);
  text-align: center;
}