@use 'global' as *;

.p-initiatives {
    padding-top: rem(60);
    background: $bg-gray;
    padding-bottom: rem(50);
    @include mq(md) {
        padding-top: rem(140);
        padding-bottom: rem(180);
    }
}

.p-initiatives__inner {

}

.p-initiatives__title {

}

.p-initiatives__items {
    margin-top: rem(20);

    @include mq(md) {
        margin-top: rem(60);
    }

}

.p-initiatives__item {

}

.p-initiatives__item + .p-initiatives__item {
    margin-top: rem( 35);

    @include mq(md) {
        margin-top: rem(80);
    }
}
