@use 'global' as *;

.p-mv {
    position: relative;

    @include mq(md) {
        height: calc(100vh - rem(108));
        min-height: rem(692);
    }
}

@media screen and (min-width:1024px) and (min-height:800px) {
    .p-mv {
        max-height: 1000px;
    }
}

.p-mv__inner {
    height: 100%;
    margin-inline: auto;

    @include mq(md) {
        max-width: calc(rem(1200) + $padding-pc + $padding-pc);
    }
}

.p-mv__img {
    width: 100%;
    animation: mvshow 3s ease-in-out forwards;
}

@keyframes mvshow {
    0% {
        opacity: 0;
        scale: 0;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
    
}

.p-mv__title {
    position: relative;
    z-index: 1;
    font-size: rem(14);
    font-weight: bold;
    line-height: 1;
    letter-spacing: -0.1em;
    margin-top: rem(-32);

    @include mq(md) {
        position: absolute;
        bottom: rem(80);
        font-size: rem(40);
        line-height: calc(68/40);
    }
}

.p-mv__title span {
    display: inline-block;
    font-size: rem(11);
    font-weight: bold;
    letter-spacing: 0.04em;
    line-height: 1;
    margin-top: rem(7);

    @include mq(md) {
        font-size: rem(32);
        margin-top: rem(10);
    }
}

.p-mv__text {
    width: fit-content;
    display: grid;
    grid-template-columns: rem(15) 1fr;
    gap: rem(4);
    align-items: center;
    font-size: rem(14);
    font-weight: bold;
    line-height: calc(28/14);
    letter-spacing: 0.08em;
    padding: rem(10) rem(22);
    background-color: $white;
    border-radius: rem(30);
    box-shadow: 0 0 rem(10) rgba($color: #000000, $alpha: 0.16);
    margin-inline: auto;
    margin-top: rem(14);

    @include mq(md) {
        position: absolute;
        right: calc(50% - rem(600));
        font-size: rem(16);
        gap: rem(10);
        grid-template-columns: rem(20) 1fr;
        bottom: rem(90);
    }
}

.p-mv__main {
    position: relative;
    width: calc(100% + $padding-sp + $padding-sp);
    margin-left: calc($padding-sp * -1);

    @include mq(md) {
        max-width: rem(1100);
        width: 100%;
        margin-left: auto;
    }
}

.p-mv__link {
    position: absolute;
    width: rem(12);
    animation: fuwa .3s 3.1s linear both;

    @include mq(md) {
        width: rem(35);
    }
}

.p-mv__link.--1 {
    top: 0;
    left: rem(90);

    @include mq(md) {
        top: rem(3);
        left: rem(265);
    }
}

.p-mv__link.--2 {
    top: rem(3);
    left: rem(190);

    @include mq(md) {
        top: rem(11);
        left: rem(560);
    }
}

.p-mv__link.--3 {
    top: rem(6);
    right: rem(112);
    animation-delay: 3.2s;

    @include mq(md) {
        top: rem(18);
        right: rem(330);
    }
}

.p-mv__link.--4 {
    top: rem(37);
    left: rem(110);
    animation-delay: 3.3s;

    @include mq(md) {
        top: rem(110);
        left: rem(326);
    }
}

.p-mv__link.--5 {
    top: rem(36);
    left: rem(195);
    animation-delay: 3.4s;

    @include mq(md) {
        top: rem(106);
        left: rem(578);
    }
}

.p-mv__link.--6 {
    top: rem(49);
    right: rem(64);
    animation-delay: 3.5s;

    @include mq(md) {
        top: rem(144);
        right: rem(188)
    }
}

.p-mv__link.--7 {
    top: rem(55);
    right: rem(32);
    animation-delay: 3.6s;

    @include mq(md) {
        top: rem(163);
        right: rem(94);
    }
}

.p-mv__link.--8 {
    top: rem(69);
    left: rem(16);
    animation-delay: 3.7s;

    @include mq(md) {
        top: rem(202);
        left: rem(47);
    }
}

.p-mv__link.--9 {
    top: rem(87);
    left: rem(112);
    animation-delay: 3.8s;

    @include mq(md) {
        top: rem(257);
        left: rem(332);
    }
}

.p-mv__link.--10 {
    top: rem(62);
    left: rem(189);
    animation-delay: 3.9s;

    @include mq(md) {
        top: rem(180);
        left: rem(560);
    }
}

.p-mv__link.--11 {
    top: rem(109);
    right: rem(82);
    animation-delay: 4s;

    @include mq(md) {
        top: rem(321);
        right: rem(241);
    }
}

.p-mv__link.--12 {
    top: rem(129);
    left: rem(184);
    animation-delay: 4.1s;

    @include mq(md) {
        top: rem(380);
        left: rem(542);
    }
}

.p-mv__link.--13 {
    top: rem(139);
    right: rem(87);
    animation-delay: 4.2s;

    @include mq(md) {
        top: rem(411);
        right: rem(268);
    }
}

@keyframes fuwa {
    0% {
        opacity: 0;
        transform: translateY(15%);
    }
    90% {
        transform: translateY(-5%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}