@use 'global' as *;

.p-mv {
    position: relative;
    overflow: hidden;

    @include mq(md) {
        height: calc(100vh - rem(108));
        min-height: rem(692);
    }
}

@media screen and (min-width:1024px) and (min-height:800px) {
    .p-mv {
        max-height: 1000px;
    }
}

.p-mv__inner {
    height: 100%;
    margin-inline: auto;

    @include mq(md) {
        max-width: calc(rem(1200) + $padding-pc + $padding-pc);
    }
}

.p-mv__main {
    animation: mvshow 3s ease-in-out forwards;
}

.p-mv__img {
    width: 100%;
}

@keyframes mvshow {
    0% {
        opacity: 0;
        scale: 0;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
    
}

.p-mv__title {
    position: relative;
    z-index: 1;
    font-size: rem(14);
    font-weight: bold;
    line-height: 1;
    letter-spacing: -0.1em;
    margin-top: rem(-32);

    @include mq(md) {
        position: absolute;
        bottom: rem(80);
        font-size: rem(40);
        line-height: calc(68/40);
    }
}

.p-mv__title span {
    display: inline-block;
    font-size: rem(11);
    font-weight: bold;
    letter-spacing: 0.04em;
    line-height: 1;
    margin-top: rem(7);

    @include mq(md) {
        font-size: rem(32);
        margin-top: rem(10);
    }
}

.p-mv__text {
    width: fit-content;
    display: grid;
    grid-template-columns: rem(15) 1fr;
    gap: rem(4);
    align-items: center;
    font-size: rem(14);
    font-weight: bold;
    line-height: calc(28/14);
    letter-spacing: 0.08em;
    padding: rem(10) rem(22);
    background-color: $white;
    border-radius: rem(30);
    box-shadow: 0 0 rem(10) rgba($color: #000000, $alpha: 0.16);
    margin-inline: auto;
    margin-top: rem(14);

    @include mq(md) {
        position: absolute;
        right: calc(50% - rem(600));
        font-size: rem(16);
        gap: rem(10);
        grid-template-columns: rem(20) 1fr;
        bottom: rem(90);
    }
}

.p-mv__main {
    position: relative;
    width: calc(100% + $padding-sp + $padding-sp);
    margin-left: calc($padding-sp * -1);

    @include mq(md) {
        max-width: rem(1100);
        width: 100%;
        margin-left: auto;
    }
}

.p-mv__link {
    position: absolute;
    width: vw(375,12);
    animation: fuwa .3s 3.1s linear both;
    transition: all 0.3s !important;
    z-index: 2;

    @include mq(md) {
        width: rem(35);
    }
}

.p-mv__link:hover {
    transform: translateY(-5%) !important;
}

.p-mv__link.--1 {
    top: 0;
    left: vw(375,90);

    @include mq(md) {
        top: rem(3);
        left: rem(265);
    }
}

.p-mv__link.--2 {
    top: vw(375,3);
    left: vw(375,190);

    @include mq(md) {
        top: rem(11);
        left: rem(560);
    }
}

.p-mv__link.--3 {
    top: vw(375,6);
    right: vw(375,112);
    animation-delay: 3.2s;

    @include mq(md) {
        top: rem(18);
        right: rem(330);
    }
}

.p-mv__link.--4 {
    top: vw(375,37);
    left: vw(375,110);
    animation-delay: 3.3s;

    @include mq(md) {
        top: rem(110);
        left: rem(326);
    }
}

.p-mv__link.--5 {
    top: vw(375,36);
    left: vw(375,195);
    animation-delay: 3.4s;

    @include mq(md) {
        top: rem(106);
        left: rem(578);
    }
}

.p-mv__link.--6 {
    top: vw(375,49);
    right: vw(375,64);
    animation-delay: 3.5s;

    @include mq(md) {
        top: rem(144);
        right: rem(188)
    }
}

.p-mv__link.--7 {
    top: vw(375,55);
    right: vw(375,32);
    animation-delay: 3.6s;

    @include mq(md) {
        top: rem(163);
        right: rem(94);
    }
}

.p-mv__link.--8 {
    top: vw(375,69);
    left: vw(375,16);
    animation-delay: 3.7s;

    @include mq(md) {
        top: rem(202);
        left: rem(47);
    }
}

.p-mv__link.--9 {
    top: vw(375,87);
    left: vw(375,112);
    animation-delay: 3.8s;

    @include mq(md) {
        top: rem(257);
        left: rem(332);
    }
}

.p-mv__link.--10 {
    top: vw(375,62);
    left: vw(375,189);
    animation-delay: 3.9s;

    @include mq(md) {
        top: rem(180);
        left: rem(560);
    }
}

.p-mv__link.--11 {
    top: vw(375,109);
    right: vw(375,82);
    animation-delay: 4s;

    @include mq(md) {
        top: rem(321);
        right: rem(241);
    }
}

.p-mv__link.--12 {
    top: vw(375,129);
    left: vw(375,184);
    animation-delay: 4.1s;

    @include mq(md) {
        top: rem(380);
        left: rem(542);
    }
}

.p-mv__link.--13 {
    top: vw(375,139);
    right: vw(375,87);
    animation-delay: 4.2s;

    @include mq(md) {
        top: rem(411);
        right: rem(268);
    }
}

@keyframes fuwa {
    0% {
        opacity: 0;
        transform: translateY(15%);
    }
    90% {
        transform: translateY(-5%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.p-mv__car {
    position: absolute;
    width: vw(375,28);
    animation: car 8s linear infinite;

    @include mq(md) {
        width: rem(86);
        animation: car2 8s linear infinite;
    }
}

.p-mv__bus {
    position: absolute;
    width: vw(375,50);
    animation: bus 8s linear 4s infinite;
    opacity: 0;

    @include mq(md) {
        width: rem(153);
        animation: bus2 8s linear 4s infinite;
    }
}

.p-mv__rocket {
    position: absolute;
    width: vw(375,45);
    top: 0;
    right: vw(375,45);
    animation: rocket 1s ease-in infinite alternate;

    @include mq(md) {
        width: rem(138);
        right: rem(130);
    }
}

@keyframes rocket {
    0% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(10%,-10%);
    }
}

@keyframes car {
    0% {
        opacity: 0;
        top: vw(375,-46);
        right: vw(375,320);
    }
    5% {
        opacity: 1;
    }
    95% {
        top: vw(375,150);
        right: vw(375,-30);
    }
    100% {
        top: vw(375,150);
        right: vw(375,-30);
    }
}

@keyframes car2 {
    0% {
        opacity: 0;
        top: rem(-40);
        right: rem(770);
    }
    5% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        top: rem(495);
        right: rem(-130);
        opacity: 0;
    }
}

@keyframes bus {
    0% {
        opacity: 0;
        top: vw(375,-40);
        right: vw(375,260);
    }
    5% {
        opacity: 1;
    }
    95% {
        top: vw(375,140);
        right: vw(375,-50);
    }
    100% {
        top: vw(375,140);
        right: vw(375,-50);
        opacity: 1;
    }
}

@keyframes bus2 {
    0% {
        opacity: 0;
        top: rem(-70);
        right: rem(705);
    }
    5% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        top: rem(450);
        right: rem(-180);
        opacity: 1;
        opacity: 0;
    }
}

.p-mv__cover {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}