@use 'global' as *;

.p-subMv {
    position: relative;
    overflow: hidden;
    min-height: rem(200);

    @include mq(md) {
        min-height: rem(306);
    }
}

.p-subMv.--border::before {
    @include mq(md) {
        position: absolute;
        content: "";
        width: rem(730);
        height: rem(1);
        background-color: $green;
        right: 0;
        top: rem(48);
    }
}

.p-subMv__inner {
    position: relative;
}

.p-subMv__wrap {

}

.p-subMv__title {

    @include mq(md) {
        position: absolute;
        top: rem(43);
        left: 25px;
    }

}

.p-subMv__en {
    color: $green;
    text-align: center;
    font-size: rem(24);
    font-family: $en-font;
    font-weight: 300;
    letter-spacing: 0.08em;

    @include mq(md) {
        text-align: left;
        font-size: rem(24);
    }
}

.p-subMv__ja {
    text-align: center;
    font-size: rem(32);
    font-weight: bold;
    letter-spacing: 0.08em;
    line-height: calc(44/32);
    margin-top: rem(29);

    @include mq(md) {
        text-align: left;
        font-size: rem(48);
        line-height: calc(68/48);
        margin-top: rem(10);
    }
}

.p-subMv__text {
    margin-top: rem(10);
    line-height: 1.5;
}

.p-subMv__img {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-top: rem(92);

    @include mq(md) {
        width: vw(1280,710);
        margin-right: calc(50% - 50vw);
        margin-left: auto;
        margin-top: 0;
    }
}
