@use 'global' as *;

.p-single {
    padding-top: rem(50);
    padding-bottom: rem(50);
    @include mq(md) {
        padding-top: rem(90);
        padding-bottom: rem(180);
    }
}

.p-single__inner {
    @include mq(md) {
        max-width: calc(rem(900) + $padding-pc + $padding-pc);
    }
}

.p-single__info {
    display: flex;
    align-items: center;
    gap: rem(20);
}

.p-single__time {
    font-size: rem(16);
    font-weight: 400;
    font-family: $en-font;

}

.p-single__cats {
    display: flex;
    flex-wrap: wrap;

}

.p-single__cat {
    width: fit-content;

}

.p-single__title {
    font-size: rem(24);
    font-weight: bold;
    line-height: calc(30/24);
    margin-top: rem(20);
}

.p-single__thumbnail {
    margin-top: rem(20);

    @include mq(md) {
        max-width: rem(640);
        margin-inline: auto;
        margin-top: rem(60);
    }
}

.p-single__thumbnail img {
    aspect-ratio: 345/195;
    height: 100%;
    object-fit: cover;
}

.p-single__content {
    margin-top: rem(20);

    @include mq(md) {
        margin-top: rem(40);
    }
}

.p-single__content img {
    width: auto;
    margin-inline: auto;
}

.p-single__content p {
    font-size: rem(14);
    font-weight: 400;
    line-height: calc(24/14);
}

.p-single__content * + * {
    margin-top: rem(30);
}

.p-single__btn {
    text-align: center;
    margin-top: rem(50);

    @include mq(md) {
        margin-top: rem(80);
    }
}

.p-single__content ul {
    list-style: disc;
    margin-left: 1em;
}

.p-single__content h2 {
    padding-left: rem(20);
    border-left: rem(2) solid $green;

    @include mq(md) {
        padding-left: rem(30);
    }
}