@use "global" as *;

.p-tagList {
    margin-top: rem(66);
    margin-bottom: rem(20);
    border-bottom: 1px solid #E2E5E5;
    @include mq(md) {
        margin-top: rem(55);
        border-bottom: none;
    }
}

.p-tagList__inner {
    display: flex;
    flex-direction: column;
    gap: rem(31);
    @include mq(md) {
        flex-direction: row;
        gap: rem(15);
    }
}

.p-tagList__head {
    text-align: center;
    @include mq(md) {
        width: 25%;
        padding-top: rem(60);
    }
}

.p-tagList__title {
    display: inline-block;
    font-size: rem(18);
    font-family: $main-font;
    position: relative;
    padding-left: rem(25);
    padding-right: rem(25);
    line-height: 1.7;
    color: $black;
    @include mq(md) {
        font-size: rem(28);
        padding-left: rem(45);
        padding-right: 0;
    }
}

.p-tagList__title::before {
    content: "";
    background-color: #037577;
    position: absolute;
    width: rem(15);
    height: rem(15);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.p-tagList__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(12) rem(10);
    padding-bottom: rem(20);
    @include mq(md) {
        width: 75%;
        gap: rem(20) rem(10);
        border-left: 1px solid #E2E5E5;
        padding-top: rem(60);
        padding-bottom: rem(60);
        justify-content: flex-end;
    }
}