@use 'global' as *;

 .p-target {

 }

 .p-target__title {

 }

 .p-target__lists {
    background-color: #F8F8F8;
    border-radius: rem(10);
    padding-top: rem(30);
    padding-bottom: rem(70);
    margin-top: rem(40);

    @include mq(md) {
      display: grid;
      grid-template-columns: repeat(5,1fr);
      padding-block: rem(30);
    }
 }

 .p-target__list {
    max-width: rem(216);
    width: 100%;
    margin-inline: auto;
 }

 .p-target__list + .p-target__list {
    margin-top: rem(60);

    @include mq(md) {
      margin-top: 0;
      border-left: rem(1) solid #E8E7E3;
    }
 }

 .p-target__number {
    font-size: rem(25);
    font-weight: 600;
    font-family: $en-font2;
    color: $green;
    margin-left: rem(30);
 }

 .p-target__img {
    width: rem(98);
    margin-inline: auto;
    margin-top: rem(-10);
 }

 .p-target__text {
    text-align: center;
    font-size: rem(16);
    font-weight: 500;
    line-height: calc(26/16);
    margin-top: rem(20);
 }

 .p-target__bottom {
    margin-top: rem(10);

    @include mq(md) {
      margin-top: rem(20);
    }
 }
