@use "global" as *;

.c-btn {
    display: inline-flex;
    width: 100%;
    max-width: rem(240);
    align-items: center;
    font-size: rem(14);
    font-weight: bold;
    line-height: calc(20/14);
    padding: rem(15) rem(30);
    background-color: $green;
    color: $white;
    letter-spacing: 0.08em;
}

.c-btn__link {
    margin-left: auto;
}