@use 'global' as *;

.c-card {
    display: block;
    padding: rem(25) rem(12);

    @include mq(md) {
        padding: 0;
    }
}

.c-card__img {

}

.c-card__img img {
    align-self: 320/180;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.c-card__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: rem(20);
    gap: rem(10) rem(20);
}

.c-card__time {
    font-size: rem(16);
    font-weight: 400;
    font-family: $en-font;
}

.c-card__cats {

}

.c-card__cat {

}

.c-card__title {
    font-size: rem(18);
    font-weight: bold;
    line-height: calc(30/18);
    margin-top: rem(20);
}

.c-card__tags {
    display: flex;
    flex-wrap: wrap;
    gap: rem(30);
    margin-top: rem(15);

    @include mq(md) {
        gap: rem(15);
        margin-top: rem(10);
    }
}

.c-card__tag {
    font-size: rem(12);
    font-weight: bold;
    line-height: calc(17/12);
    color: #9D9B9B;

    @include mq(md) {
        font-size: rem(14);
        line-height: calc(20/14);
    }
}