@use 'global' as *;

.c-documentBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: rem(20);
    padding: rem(16) rem(20);
    color: $white;
    background-color: $green;
    font-size: rem(14);
    font-weight: bold;
    letter-spacing: 0.08em;
}

.c-documentBtn img {
    width: rem(15);
}