@use "global" as *;

.c-pickupCard {
  display: grid;
  gap: rem(16);
  @include mq(md) {
    align-items: flex-start;
    grid-template-columns: rem(720) 1fr;
    gap: rem(28);
  }
}

.c-pickupCard__img {
  aspect-ratio: 344 / 194;
  @include mq(md) {
    aspect-ratio: 720 / 405;
  }
}

.c-pickupCard__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.c-pickupCard__box {
  padding: 0 rem(13);
  @include mq(md) {
    margin-top: rem(16);
    padding: 0;
  }
}

.c-pickupCard__info {
  display: flex;
  gap: rem(14);
  align-items: center;
  @include mq(md) {
    gap: rem(20);
  }
}

.c-pickupCard__time {
  font-size: rem(16);
  font-weight: $normal;
  font-family: $en-font;    // [sp]遊明朝体に変更する？
}

.c-pickupCard__tags {

}

.c-pickupCard__title {
  margin-top: rem(9);
  font-size: rem(18);
  font-family: $main-font;
  font-weight: $bold;
  line-height: 1.7;
  @include mq(md) {
    margin-top: rem(21);
    font-weight: $normal;
    font-size: rem(24);
    line-height: 1.5;
  }
}

.c-pickupCard__text {
  margin-top: rem(31);
  font-size: rem(14);
  font-weight: $normal;
  font-family: $main-font;
  line-height: 2;
}

.c-pickupCard__tags2 {
  margin-top: rem(18);
  display: flex;
  flex-wrap: wrap;
  gap: rem(10) rem(22);
  @include mq(md) {
    margin-top: rem(29);
  }
}

.c-pickupCard__tag2 {
  color: $gray;
  font-size: rem(14);
  font-weight: $main-font;
  font-weight: $bold;
}