<div class="p-column-header">
    <div class="p-column-header__inner l-inner">
        <div class="p-column-header__top">
            <div class="p-column-header__textLink">
                <a href="#">KAITEKI Magazineとは</a>
            </div>
            <h1 class="p-column-header__logo u-desktop">
                <a href="#">
                    <img src="./images/column/column-logo.png" alt="kaiteki magazine">
                </a>
            </h1>
            <ul class="p-column-header__links">
                <li class="p-column-header__link u-desktop">
                    <a href="#">コーポレートサイトへ</a>
                </li>
                <li class="p-column-header__link u-sns">
                    <a href="#" target="_blank">
                        <img src="./images/column/instagram.svg" alt="instagram">
                    </a>
                </li>
                <li class="p-column-header__link u-sns">
                    <a href="#" target="_blank">
                        <img src="./images/column/x.svg" alt="x">
                    </a>
                </li>
                <li class="p-column-header__link u-hamburger u-mobile">
                    <%- include('../component/_c-hamburger') %>
                </li>
            </ul>
        </div>
        <div class="p-column-header__logo u-mobile">
            <a href="#">
                <img src="./images/column/column-logo.png" alt="kaiteki magazine">
            </a>
        </div>
        <nav class="p-column-header__nav u-desktop">
            <ul class="p-column-header__navLinks">
                <li class="p-column-header__navLink">
                    <a href="#">会社について</a>
                </li>
                <li class="p-column-header__navLink">
                    <a href="#">化学について</a>
                </li>
                <li class="p-column-header__navLink">
                    <a href="#">ファッションについて</a>
                </li>
                <li class="p-column-header__navLink">
                    <a href="#">開発ストーリー</a>
                </li>
                <li class="p-column-header__navLink">
                    <a href="#">サステナブル</a>
                </li>
            </ul>
        </nav>
        <div class="p-column-header__drawer">
            <%- include('_p-drawer') %>
        </div>
    </div>
</div>