<div class="p-drawer">
    <div class="p-drawer__inner">
        <nav class="p-drawer__nav">
            <ul class="p-drawer__links">
                <li class="p-drawer__link">
                    <a href="#">ホーム</a>
                </li>
                <li class="p-drawer__link">
                    <a href="#">事業紹介</a>
                    <span class="p-drawer__button js-drawer-button"></span>
                    <ul class="p-drawer__subLinks">
                        <li class="p-drawer__subLink">
                            <a href="#">繊維加工材</a>
                        </li>
                        <li class="p-drawer__subLink">
                            <a href="#">PCP/MOF</a>
                        </li>
                    </ul>
                </li>
                <li class="p-drawer__link">
                    <a href="#">企業情報</a>
                    <span class="p-drawer__button js-drawer-button"></span>
                    <ul class="p-drawer__subLinks">
                        <li class="p-drawer__subLink">
                            <a href="#">メッセージ</a>
                        </li>
                        <li class="p-drawer__subLink">
                            <a href="#">企業理念</a>
                        </li>
                        <li class="p-drawer__subLink">
                            <a href="#">会社概要</a>
                        </li>
                        <li class="p-drawer__subLink">
                            <a href="#">歴史</a>
                        </li>
                        <li class="p-drawer__subLink">
                            <a href="#">主な事業所・ネットワーク</a>
                        </li>
                    </ul>
                </li>
                <li class="p-drawer__link">
                    <a href="#">サステナビリティ</a>
                </li>
                <li class="p-drawer__link">
                    <a href="#">研究</a>
                </li>
                <li class="p-drawer__link">
                    <a href="#">コラム</a>
                </li>
                <li class="p-drawer__link">
                    <a href="#">最新情報</a>
                </li>
                <li class="p-drawer__link">
                    <a href="#">採用情報</a>
                    <span class="p-drawer__button js-drawer-button"></span>
                    <ul class="p-drawer__subLinks">
                        <li class="p-drawer__subLink">
                            <a href="#">私たちの働き方</a>
                        </li>
                        <li class="p-drawer__subLink">
                            <a href="#">先輩の声</a>
                        </li>
                        <li class="p-drawer__subLink">
                            <a href="#">募集要項</a>
                        </li>
                    </ul>
                </li>
                <li class="p-drawer__link">
                    <a href="#">お問い合わせ</a>
                </li>
                <li class="p-drawer__link">
                    <a href="#">サイトマップ</a>
                </li>
            </ul>
        </nav>
    </div>
</div>