<nav class="p-globalNav">
    <div class="p-globalNav__top">
        <ul class="p-globalNav__translate">
            <li><a href="#">JP</a></li>
            <li><a href="#">EN</a></li>
        </ul>
        <div class="p-globalNav__contact">
            <a href="#">お問い合わせ</a>
        </div>
    </div>
    <ul class="p-globalNav__links">
        <li class="p-globalNav__link">
            <a href="#">ホーム</a>
        </li>
        <li class="p-globalNav__link">
            <a href="#">事業紹介</a>
            <span class="p-globalNav__button js-globalNav-button"></span>
            <ul class="p-globalNav__subLinks">
                <li class="p-globalNav__subLink">
                    <a href="#">繊維加工剤</a>
                </li>
                <li class="p-globalNav__subLink">
                    <a href="#">PCP/MOF</a>
                </li>
            </ul>
        </li>
        <li class="p-globalNav__link">
            <a href="#">企業情報</a>
            <span class="p-globalNav__button js-globalNav-button"></span>
            <ul class="p-globalNav__subLinks">
                <li class="p-globalNav__subLink">
                    <a href="#">メッセージ</a>
                </li>
                <li class="p-globalNav__subLink">
                    <a href="#">企業理念</a>
                </li>
                <li class="p-globalNav__subLink">
                    <a href="#">会社概要</a>
                </li>
                <li class="p-globalNav__subLink">
                    <a href="#">歴史</a>
                </li>
                <li class="p-globalNav__subLink">
                    <a href="#">主な事業所・ネットワーク</a>
                </li>
            </ul>
        </li>
        <li class="p-globalNav__link">
            <a href="#">サステナビリティ</a>
        </li>
        <li class="p-globalNav__link">
            <a href="#">研究</a>
        </li>
        <li class="p-globalNav__link">
            <a href="#">コラム</a>
        </li>
        <li class="p-globalNav__link">
            <a href="#">最新情報</a>
        </li>
        <li class="p-globalNav__link">
            <a href="#">採用情報</a>
            <span class="p-globalNav__button js-globalNav-button"></span>
            <ul class="p-globalNav__subLinks">
                <li class="p-globalNav__subLink">
                    <a href="#">私たちの働き方</a>
                </li>
                <li class="p-globalNav__subLink">
                    <a href="#">先輩の声</a>
                </li>
                <li class="p-globalNav__subLink">
                    <a href="#">募集要項</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>