<div class="p-header">
    <div class="p-header__inner">
        <h2 class="p-header__logo">
            <a href="#">
                <img src="./images/common/logo.svg" alt="ohara paragium">
            </a>
        </h2>
        <div class="p-header__contact">
            <a href="#">
                <img src="./images/common/contact.svg" alt="お問合せ">
            </a>
        </div>
        <div class="p-header__hamburger">
            <%- include('../component/_c-hamburger') %>
        </div>
        <div class="p-header__drawer">
            <%- include('_p-drawer') %>
        </div>
        <div class="p-header__globalNav">
            <%- include('_p-globalNav') %>
        </div>
    </div>
</div>