<div class="c-box">
    <div class="c-box__number"><%- number %></div>
    <h3 class="c-box__title"><%- title %></h3>
    <div class="c-box__wrap">
        <picture class="c-box__img">
            <source srcset="./images/service/case_dummy.jpg" type="image/webp" />
            <img src="./images/service/case_dummy.jpg" alt="アイキャッチ画像">
        </picture>
        <p class="c-box__text c-text"><%- text %></p>
    </div>
</div>