<a href="#" class="c-card">
    <picture class="c-card__img">
        <img src="./images/top/thumbnail.jpg" alt="アイキャッチ画像">
    </picture>
    <div class="c-card__info">
        <time class="c-card__time">2020.02.14</time>
        <ul class="c-card__tags">
            <li class="c-card__tag c-tag">カテゴリが入ります</li>
        </ul>
    </div>
    <p class="c-card__title">タイトルが入ります。ダミーテキストダミーテキスト</p>
</a>