<div class="c-caseCard">
    <div class="c-caseCard__wrap">
        <div class="c-caseCard__content">
            <h3 class="c-caseCard__title">製品名</h3>
            <p class="c-caseCard__text c-text">
                製品の説明が入ります。ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミー
            </p>
        </div>
        <picture class="c-caseCard__img">
            <img src="./images/common/dummy.jpg" alt="アイキャッチ画像">
        </picture>
    </div>
    <div class="c-caseCard__comment">
        <strong>開発者コメント</strong>
        ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
    </div>
</div>