<div class="c-columnCard">
    <div class="c-columnCard__img">
        <img src="./images/top/thumbnail.jpg" alt="アイキャッチ画像">
    </div>
    <div class="c-columnCard__box">
        <div class="c-columnCard__info">
            <time class="c-columnCard__time" datetime="2020-02-14">2020.02.14</time>
            <ul class="c-columnCard__tags">
                <li class="c-columnCard__tag c-tag">カテゴリが入ります</li>
            </ul>
        </div>
        <h2 class="c-columnCard__title">タイトルが入ります。ダミーテキストダミーテキスト</h2>
        <div class="c-columnCard__tags2">
            <a href="" class="c-columnCard__tag2">#タグ</a>
            <a href="" class="c-columnCard__tag2">#タグ</a>
            <a href="" class="c-columnCard__tag2">#タグ</a>
        </div>
    </div>
</div>