<div class="c-pickupCard">
  <a href="#">
    <div class="c-pickupCard__img">
      <img src="./images/top/thumbnail.jpg" alt="アイキャッチ画像">
    </div>
    <div class="c-pickupCard__box">
      <div class="c-pickupCard__info">
        <time class="c-pickupCard__time" datetime="2020-02-14">2020.02.14</time>
        <ul class="c-pickupCard__tags">
          <li class="c-pickupCard__tag c-tag c-tag--black">カテゴリが入ります</li>
        </ul>
      </div>
      <h2 class="c-pickupCard__title">タイトルが入ります。ダミーテキストダミーテキスト</h2>
      <div class="c-pickupCard__text u-desktop">
        <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
        <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
      </div>
      <div class="c-pickupCard__tags2">
        <span class="c-pickupCard__tag2">#タグ</span>
        <span class="c-pickupCard__tag2">#タグ</span>
        <span class="c-pickupCard__tag2">#タグ</span>
      </div>
    </div>
  </a>
</div>