<a href="#" class="c-rowCard">
    <picture class="c-rowCard__img">
        <img src="./images/top/thumbnail2.jpg" alt="アイキャッチ画像">
    </picture>
    <div class="c-rowCard__content">
        <div class="c-rowCard__info">
            <time class="c-rowCard__time">2020.02.14</time>
            <ul class="c-rowCard__tags">
                <li class="c-rowCard__tag c-tag">カテゴリが入ります</li>
            </ul>
        </div>
        <p class="c-rowCard__title">タイトルが入ります。ダミーテキストダミーテキスト</p>
        <p class="c-rowCard__text c-text">
            説明テキストが入ります説明テキストが入ります説明テキストが入ります説明テキストが入説明テキストが入ります…
        </p>
    </div>
</a>