<div class="c-rowItem">
    <div class="c-rowItem__content">
        <h3 class="c-rowItem__title">共同開発</h3>
        <p class="c-rowItem__text c-text">
            学や企業などが持っている新しい物質や技術を弊社の技術と組み合わせることで、様々な分野で応用できる製品作りに取り組んでいます。このような共同開発に積極的に取り組むことで、自社の競争力を高めることができると考えており、常に新しいアイデアを情報収集しています。 
        </p>
        <div class="c-rowItem__list c-text">
            <span>取組み先例</span><br>
            京都大学、京都工芸繊維大学、大阪公立大学、福井大学、京都産業技術研究所、他 
        </div>
    </div>
    <picture class="c-rowItem__img">
        <img src="./images/study/initiatives_01.jpg" alt="共同開発">
    </picture>
</div>