<hgroup class="c-singleTitle">
    <p class="c-singleTitle__sub <% if (typeof modifier !== 'undefined'){ %><%= modifier %><% } %>"><%- subtitle %></p>
    <h2 class="c-singleTitle__main <% if (typeof modifier2 !== 'undefined'){ %><%= modifier2 %><% } %>"><%- title %></h2>
</hgroup>